<a href="https://colab.research.google.com/github/guipatriota/leitura-e-grava-o-de-arquivos-em-Python/blob/main/Aula_Pr%C3%A1tica_4_Linguagem_de_Programa%C3%A7%C3%A3o_Arquivos_e_Salvamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula Prática 4 - Arquivos e salvamentos
Nesta aula veremos algumas formas de importação de arquivos para uso com o Python e como realizamos o salvamento destes dados.

É importante sabermos que sempre é possível realizarmos a leitura de qualquer tipo de arquivo de forma manual (criar o seu próprio parser para o arquivo), porém o uso de bibliotecas com parsers prontos para cada tipo de arquivo facilita bastante nosso trabalho.
Nest aula veremos como realizar a leitura e a gravação de dados nos seguintes formatos:
  * TEMA 1 – XML E JSON
  * TEMA 2 – CSV E PARQUET
  * TEMA 3 – SQLITE
  * TEMA 4 – PERSISTINDO AQUI (Salvamento local e Pickle)
  * TEMA 5 – PERSISTINDO LÁ (REST)

## Preparo do ambiente de desenvolvimento

Antes de iniciarmos as análises é necessário a importação dos arquivos que usaremos nos exemplos.

Para esta importação, podemos fazer:
- Upload manual de todos eles para este notebook do Google Colab;
- Conexão com nosso Google Drive pela interface visual de arquivos do Google Colab (menu da esquerda);
- Conexão com nosso Google Drive em forma de comandos nas células deste notebook.

As próximas células conterão as linhas de programação necessárias para realizarmos a conexão em linha. Para tanto, você deverá conter todos os arquivos em seu Google Drive, preferencialmente em uma pasta na raiz de seu drive com o seguinte nome:

AULA_PRÁTICA_4-PYTHON_LEITURA_E_GRAVAÇÃO

Independente do método que você escolha, o uso da conexão com o Google Drive é a que permite importação mais rápida dos arquivos.

In [ ]:
# Conexão com Google Drive:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Cópia dos arquivos necessários da pasta AULA_PRÁTICA_4-PYTHON_LEITURA_E_GRAVAÇÃO (5 a 20 segundos de execução. Depende da velocidade da conexão).
# Caso você tenha optado por um local ou nome diferente da pasta, faça as devidas alterações.
!cp /content/drive/MyDrive/AULA_PRÁTICA_4-PYTHON_LEITURA_E_GRAVAÇÃO/*.* /content

Após a importação dos arquivos, podemos realizar a manipulação dos arquivos.

De forma geral, podemos realizar a abertura, leitura, escrita e fechamento de qualquer arquivo em formato de texto simples com os comandos python abaixo:
- arquivo = open(nome_do_arquivo, tipo_de_abertura)
  - nome_do_arquivo deve ser uma string com o caminho e nome do seu arquivo
  - tipo_de_abertura pode ser:
    - 'r'  para ler (erro se arquivo não existir)
    - 'r+' para ler (erro se arquivo não existir) e escrever (no início do arquivo)
    - 'w'  cria novo arquivo ou substitui existente (apaga conteúdo antigo) e escreve (no início do arquivo)
    - 'w+' cria novo arquivo ou substitui existente (apaga conteúdo antigo) e lê e escreve (no início do arquivo)
    - 'a'  cria novo arquivo ou abre existente e escreve (no fim do arquivo)
    - 'a+' cria novo arquivo ou abre existente e lê e escreve (no fim do arquivo)
- arquivo.write(string_qualquer)
- arquivo.close()

In [ ]:
arquivo = open('exemplo_simples.txt', 'w+')
arquivo.write('Olá mundo\nEsta é a segunda linha\nEsta é a terceira linha\n') # 60 caracteres gravados
arquivo.seek(0)
conteudo = arquivo.read()
print(conteudo)

Olá mundo
Esta é a segunda linha
Esta é a terceira linha

In [ ]:
# .tell() mostra a posição atual do cursor.
arquivo.tell()

60

Após a abertura e manipulação de um arquivo, devemos fechá-lo, para que o arquivo seja liberado para outros programas:

In [ ]:
arquivo.close()

Aqui no Google Colab, se quisermos abrir um arquivo pela linha de comando do linux, usamos o acesso ! para usar comandos linux e o comando cat para ver o conteúdo de um arquivo:

In [ ]:
!cat exemplo_simples.txt

Olá mundo
Esta é a segunda linha
Esta é a terceira linha

Podemos usar o gerenciamento de contexto com o comando ```with``` para abrir e manipular arquivos em Python.

Esta estratégia fecha o arquivo automaticamente quando o contexto se encerra (saída do comando ```with```)

In [ ]:
with open('exemplo_simples.txt', 'a+') as arquivo:
   arquivo.write('Quarta linha é feita com uso do gerenciamentode contexto\n'+\
                 'Esta é a quinta linha e foi feita da mesma forma\n')

In [ ]:
!cat exemplo_simples.txt

Olá mundo
Esta é a segunda linha
Esta é a terceira linha
Quarta linha é feita com uso do gerenciamentode contexto
Esta é a quinta linha e foi feita da mesma forma

Se tentarmos encontrar a posição atual do cursor no arquivo, veremos um erro nos informando que ele está fechado:

In [ ]:
# .tell() mostra a posição atual do cursor.
arquivo.tell()

ValueError: ignored

Com esta forma simples de abertura é possível manipular diversos tipos de arquivos, porém teríamos que criar as funções de parseamento de cada tipo de texto e formato de arquivo e isso já foi feito e está disponível em algumas bibliotecas.

Nesta aula vamos utilizar duas bibliotecas principais:
- PANDAS
  - O Pandas é uma das bibliotecas mais usadas para manipulação de dados e possui diversas funcionalidades para importação e salvamento de arquivos em diversos formatos. Seu ponto fraco é o aumento do tempo de processamento quanto maior for o arquivo de dados. Se formos processar arquivos muito grantes (acima de 4GB), não é aconselhável o uso do pandas.
- PYSPARK
  - O Spark é um framework para manipulação de grandes quantidades de dados e no Pyhton usamos o Pyspark para acessar suas funcionalidades. Seu principal objetivo é permitir o processamento de dados em várias máquinas ao mesmo tempo (processamento distribuído), porém aqui vamos utilizar principalemente a sua capacidade de realizar processamente preguiçoso (Lazy Processing). Com isso, os dados só vão para a memória RAM e são computados quando solicitamos visualização. Caso contrário, o Spark mantém apenas o mínimo em memória, permitindo manippulação de grandes quantidades de dados (Big Data).

### INICIALIZAÇÃO DO PANDAS
Importação da biblioteca que já vem instalada no Google Colab.

In [ ]:
# Importação do Pandas
import pandas as pd

### INICIALIZAÇÃO DO SPARK
- Atualização do linux do Google Colab
- Configuração das variáveis de ambiente para instalação do SPARK
- Instalação do SPARK e do FINDSPARK
- Importação da biblioteca FINDSPARK para localizar o SPARK instalado
- Importação do SPARK através do FINDSPARK

In [ ]:
# Configuração do ambiente e importação do pyspark.
# Podemos fazer de duas formas:
## !pip install pyspark
## from pyspark.sql import SparkSession
# ou
# Configurar o linux no qual este notebook está rodando. Esta última permite maior qunatidade de funcionalidades e é esta que usaremos.

# Update do linux desta instância do google colab (de 5 a 15 segundos de execução):
!sudo apt-get update

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:10 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [85.6 kB]
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,526 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,332 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,898 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,302 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,060 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,105 kB]
Fetched 12.6 MB in 10s (1,297 kB/s)
Reading package lists... Done

In [ ]:
# Descoberta da pasta do JAVA deste linux:
JAVA_FOLDER = !readlink -f /usr/bin/java | sed "s:bin/java::"

# Configuração de variáveis de ambiente:
import os
os.environ["JAVA_HOME"] = JAVA_FOLDER[0]
os.environ["PATH"] += os.pathsep + os.environ["JAVA_HOME"] + "/bin"

os.environ["SPARK_HOME"] = "/usr/local/spark"
os.environ["PATH"] += os.pathsep + os.environ["SPARK_HOME"] + "/bin"

# Opções para uso do Spark com XML:
os.environ['PYSPARK_SUBMIT_ARGS'] = "--packages com.databricks:spark-xml_2.12:0.15.0 pyspark-shell"

In [ ]:
# Instalação do SPARK (40 a 120 segundos de execução, depende da velocidade da conexão):
!wget -q -O spark.tgz https://archive.apache.org/dist/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz
!tar xf spark.tgz
!mv ./spark-* /usr/local/spark
!pip install -q findspark
!rm spark.tgz

In [ ]:
# Inicializando o Spark
import findspark
findspark.init(os.environ["SPARK_HOME"])

In [ ]:
# Criação do objeto SparkSession para uso do pyspark.sql (15 a 30 segundos de execução):
from pyspark.sql import SparkSession
appName = "PySpark Aula 4"
master = "local[*]"

spark = SparkSession.builder\
    .appName(appName)\
    .master(master)\
    .getOrCreate()

## Leitura de arquivos XML e JSON com PANDAS

Com o PANDAS, para importar um arquivo e já formatá-lo como um dataframe, usamos os métodos de leitura:
- pandas.read_xml
- pandas.read_json
- pandas.read_csv
- pandas.read_parquet
- pandas.read_sql
- pandas.read_excel
- pandas.read_html
- pandas.read_feather
- pandas.read_pickle
- pandas.read_clipboard
- ...

Da mesma forma, podemos salvar os dados de um dataframe em um arquivo, usando os métodos de escrita:
- pandas.to_xml
- pandas.to_json
- pandas.to_csv
- pandas.to_parquet
- pandas.to_sql
- pandas.to_pickle
- pandas.to_excel
- pandas.to_clipboard
- ...

<font color="red">**IMPORTANTE:** Como importamos o pandas e o renomeamos para pd, vamos substituir a palavra pandas por pd em nosso código.</font>

### XML com PANDAS

Realizar a leitura de um arquivo XML muito grande com o pandas pode causar falha no Ambiente de Execução do Google Colab ou demorar muito mais do que com SPARK. Neste caso, ocorrerá uma falha de sessão após 7 minutos, por conta de uso de toda a memória RAM disponível neste notebook do Google Colab.

Análise do tamanho do arquivo:

In [ ]:
!ls -lh | grep Badges.xml | awk '{print "Arquivo: " $9 "\nTamanho: " $5"B"}'

Arquivo: Badges.xml
Tamanho: 1.1GB

Importação de arquivo muito grande com pandas:

In [ ]:
# Tentativa de importação de arquivo XML com mais de 1GB no Pandas. (7 minutos de execução, em média, até o colab resetar)
# pddf_xml_grande = pd.read_xml('Badges.xml')

A figura abaixo mostra o erro que ocorre.
![falha de memória colab mais pandas.png]()

Para testarmos a importação de XML com PANDAS, vamos usar um arquivo com a mesma estrutura, porém menor:

In [ ]:
!ls -lh | grep Badges-small.xml | awk '{print "Arquivo: " $9 "\nTamanho: " $5"B"}'

!echo ""
!echo "Conteúdo do arquivo Badges-small.xml:"
!echo ""

!cat Badges-small.xml

Arquivo: Badges-small.xml
Tamanho: 622B

Conteúdo do arquivo Badges-small.xml:

<?xml version="1.0" encoding="utf-8"?>
<Root>
	<badges>
		<row Id="82946" UserId="3718" Name="Teacher" Date="2008-09-15T08:55:03.923" Class="3" TagBased="False" />
		<row Id="82947" UserId="994" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
		<row Id="82949" UserId="3893" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
		<row Id="82950" UserId="4591" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
		<row Id="82951" UserId="5196" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
	</badges>
</Root>

In [ ]:
# Importação sem opções de configuração
pddf_xml = pd.read_xml('Badges-small.xml')

Dados importados incorretamente, pois cada linha retornou um único elemento `<row>`

In [ ]:
pddf_xml.head()

   row
0  NaN

Para corrigir, é necessário inserir o argumento xpath.

Como o arquivo XML possui cala linha como um único elemento, é necessário mudar o xpath de "./*" (padrão) para ".//row":

In [ ]:
pddf_xml = pd.read_xml('Badges-small.xml', xpath=".//row")

In [ ]:
pddf_xml.head()

      Id  UserId     Name                     Date  Class  TagBased
0  82946    3718  Teacher  2008-09-15T08:55:03.923      3     False
1  82947     994  Teacher  2008-09-15T08:55:03.957      3     False
2  82949    3893  Teacher  2008-09-15T08:55:03.957      3     False
3  82950    4591  Teacher  2008-09-15T08:55:03.957      3     False
4  82951    5196  Teacher  2008-09-15T08:55:03.957      3     False

#### Persistindo aqui: XML com PANDAS
Para salvar dados de um pandas dataframe em um formato XML, devemos informar qual será a estrutura do arquivo:

In [ ]:
# Método to_df() com todas as opções padrão:
string_xml = pddf_xml.to_xml(
                       path_or_buffer=None, 
                       index=True, 
                       root_name='data', 
                       row_name='row', 
                       na_rep=None, 
                       attr_cols=None, 
                       elem_cols=None, 
                       namespaces=None, 
                       prefix=None, 
                       encoding='utf-8', 
                       xml_declaration=True, 
                       pretty_print=True, 
                       parser='lxml', 
                       stylesheet=None, 
                       compression='infer', 
                       storage_options=None)
print(string_xml)

<?xml version='1.0' encoding='utf-8'?>
<data>
  <row>
    <index>0</index>
    <Id>82946</Id>
    <UserId>3718</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.923</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
  <row>
    <index>1</index>
    <Id>82947</Id>
    <UserId>994</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.957</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
  <row>
    <index>2</index>
    <Id>82949</Id>
    <UserId>3893</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.957</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
  <row>
    <index>3</index>
    <Id>82950</Id>
    <UserId>4591</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.957</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
  <row>
    <index>4</index>
    <Id>82951</Id>
    <UserId>5196</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.957</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
</data>

Usar todos os argumentos como padrão é o mesmo que não colocar nenhum argumento:

In [ ]:
string_xml = pddf_xml.to_xml()
print(string_xml)

<?xml version='1.0' encoding='utf-8'?>
<data>
  <row>
    <index>0</index>
    <Id>82946</Id>
    <UserId>3718</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.923</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
  <row>
    <index>1</index>
    <Id>82947</Id>
    <UserId>994</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.957</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
  <row>
    <index>2</index>
    <Id>82949</Id>
    <UserId>3893</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.957</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
  <row>
    <index>3</index>
    <Id>82950</Id>
    <UserId>4591</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.957</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
  <row>
    <index>4</index>
    <Id>82951</Id>
    <UserId>5196</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.957</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
</data>

Caso seja interessante salvarmos o arquivo neste formato mesmo, fazemos:

In [ ]:
pddf_xml.to_xml("formato1_de_xml.xml")

Perceba que a formatação final está correta, porém diferente da originalmente importada e com a adição da informação do index do dataframe pandas.

**Original:**
```xml
<?xml version="1.0" encoding="utf-8"?>
<Root>
  <badges>
    <row Id="82946" UserId="3718" Name="Teacher" Date="2008-09-15T08:55:03.923" Class="3" TagBased="False"/>
    <row Id="82947" UserId="994" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82949" UserId="3893" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82950" UserId="4591" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82951" UserId="5196" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
  </badges>
</Root>
```

In [ ]:
!cat formato1_de_xml.xml

<?xml version='1.0' encoding='utf-8'?>
<data>
  <row>
    <index>0</index>
    <Id>82946</Id>
    <UserId>3718</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.923</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
  <row>
    <index>1</index>
    <Id>82947</Id>
    <UserId>994</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.957</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
  <row>
    <index>2</index>
    <Id>82949</Id>
    <UserId>3893</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.957</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
  <row>
    <index>3</index>
    <Id>82950</Id>
    <UserId>4591</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.957</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
  <row>
    <index>4</index>
    <Id>82951</Id>
    <UserId>5196</UserId>
    <Name>Teacher</Name>
    <Date>2008-09-15T08:55:03.957</Date>
    <Class>3</Class>
    <TagBased>False</TagBased>
  </row>
</data>

Como o resultado XML não foi no mesmo formato do arquivo original, devemos realizar algumas alterações.

In [ ]:
# Lista as colunas do dataframe
list(pddf_xml.columns.values)

NameError: ignored

Para retirar os dados da coluna index do arquivo xml e organizá-los por ATRIBUTOS do ELEMENTO row, fazemos:

- attr_cols = list(df_xml.columns.values)
  - Para configurar os atributos com os mesmo nomes das colunas do dataframe.
- root_name = "Root"
  - Para configurar o nome do elemento raiz como "Root"
- row_name = "row"
  - Para configurar o nome do elemento de linha como "row"
- index = False
  - Para que o arquivo xml não receba a coluna index criada automaticamento na criação do dataframe

In [ ]:
pddf_xml.to_xml("formato2_de_xml.xml", attr_cols=list(pddf_xml.columns.values), root_name="Root", row_name="row", index=False)
!cat formato2_de_xml.xml

<?xml version='1.0' encoding='utf-8'?>
<Root>
  <row Id="82946" UserId="3718" Name="Teacher" Date="2008-09-15T08:55:03.923" Class="3" TagBased="False"/>
  <row Id="82947" UserId="994" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
  <row Id="82949" UserId="3893" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
  <row Id="82950" UserId="4591" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
  <row Id="82951" UserId="5196" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
</Root>

Como ainda não conseguimos um resultado como o original (falta o elemento **badges**) :

```xml
<?xml version="1.0" encoding="utf-8"?>
<Root>
  <badges>
    <row Id="82946" UserId="3718" Name="Teacher" Date="2008-09-15T08:55:03.923" Class="3" TagBased="False"/>
    <row Id="82947" UserId="994" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82949" UserId="3893" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82950" UserId="4591" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82951" UserId="5196" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
  </badges>
</Root>
```
Deveremos usar um xsl:stylesheet para criarmos a formatação xml desejada:

In [ ]:
meu_estilo = \
'''<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
      <xsl:output indent="yes" encoding="utf-8"/>
  
      <xsl:template match="data">
          <Root>
              <badges>
                  <xsl:apply-templates select="row"/>
              </badges>
          </Root>
      </xsl:template>

      <xsl:template match="row">
          <xsl:element name="row">
              <xsl:attribute name="Id"><xsl:value-of select="Id"/></xsl:attribute>
              <xsl:attribute name="UserId"><xsl:value-of select="UserId"/></xsl:attribute>
              <xsl:attribute name="Name"><xsl:value-of select="Name"/></xsl:attribute>
              <xsl:attribute name="Date"><xsl:value-of select="Date"/></xsl:attribute>
              <xsl:attribute name="Class"><xsl:value-of select="Class"/></xsl:attribute>
              <xsl:attribute name="TagBased"><xsl:value-of select="TagBased"/></xsl:attribute>
          </xsl:element>
      </xsl:template>
</xsl:stylesheet>'''

Como agora temos uma string com código xsl, não precisamos mais definir as colunas de atributos e nem os nomes de root e row.

In [ ]:
pddf_xml.to_xml("formato_final_de_xml.xml", index=False, stylesheet=meu_estilo)
!cat formato_final_de_xml.xml

<?xml version="1.0" encoding="utf-8"?>
<Root>
  <badges>
    <row Id="82946" UserId="3718" Name="Teacher" Date="2008-09-15T08:55:03.923" Class="3" TagBased="False"/>
    <row Id="82947" UserId="994" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82949" UserId="3893" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82950" UserId="4591" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82951" UserId="5196" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
  </badges>
</Root>

De fato, não precisamos de nenhum outro argumento além do nome do arquivo de destino e do nome do stylesheet, que pode ser um arquivo no formato xsl ou uma string com o código xsl, como neste exemplo.

In [ ]:
xml_str = pddf_xml.to_xml(stylesheet=meu_estilo)
print(xml_str)

<?xml version="1.0" encoding="utf-8"?>
<Root>
  <badges>
    <row Id="82946" UserId="3718" Name="Teacher" Date="2008-09-15T08:55:03.923" Class="3" TagBased="False"/>
    <row Id="82947" UserId="994" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82949" UserId="3893" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82950" UserId="4591" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82951" UserId="5196" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
  </badges>
</Root>

O mesmo resultado utilizando um arquivo de estilo externo:

In [ ]:
xml_str = pddf_xml.to_xml(stylesheet="xml_format.xsl")
print(xml_str)

<?xml version="1.0" encoding="utf-8"?>
<Root>
  <badges>
    <row Id="82946" UserId="3718" Name="Teacher" Date="2008-09-15T08:55:03.923" Class="3" TagBased="False"/>
    <row Id="82947" UserId="994" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82949" UserId="3893" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82950" UserId="4591" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
    <row Id="82951" UserId="5196" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False"/>
  </badges>
</Root>

### JSON com PANDAS

O arquivo de exemplo é oriundo de uma coleta real de dados do Twitter com os filtros:
- Data entre 02/05/2022 e 08/05/2022
- Palavra chave: COVID.

Estrutura do nosso arquivo tweets_colected_May_2_to_8_2022_0515190324.json:

```json
{
    "data": [
        {
            "created_at": data e hora,
            "id": número,
            "text": texto do tweet
        },
        {
            "created_at": data e hora,
            "id": número,
            "text": texto do tweet
        }
    ],
    "meta": {
        "newest_id": número do primeiro tweet coletado,
        "oldest_id": número do último tweet coletado,
        "result_count": quantidade de tweets coletados
    }
}
```

In [ ]:
!cat tweets_colected_May_2_to_8_2022_0515190324.json

{
    "data": [
        {
            "created_at": "2021-05-08T21:00:00.000Z",
            "id": "1391135820371931137",
            "text": "#Cuba relatou mais de 1.000 novas infec\u00e7\u00f5es por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Minist\u00e9rio da Sa\u00fade P\u00fablica, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\n\nhttps://t.co/U05loLcfTH https://t.co/ahLZ9IrxOD"
        },
        {
            "created_at": "2021-05-08T20:30:00.000Z",
            "id": "1391128270721241089",
            "text": "A #Argentina relatou na quinta-feira 24.086 novas infec\u00e7\u00f5es por #COVID-19 e 399 mortes nas \u00faltimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\n\nhttps://t.co/xZKWs97L3S https://t.co/WIZbblWMI7"
        },
        {
            "created_at": "2021-05-08T20:02:15.000Z",
            "id": "1391121287343452165",
            "text": "#COVID: #NUOVA #ONDATA di #CONTAGI entro #FINE #MAGGIO, #ESTATE a #RISCHIO? #Parla il prof. #Andrea #CRISANTI https://t.co/dffuZ6tTl8"
        },
        {
            "created_at": "2021-05-08T19:45:52.000Z",
            "id": "1391117164141219840",
            "text": "Estado de S\u00e3o Paulo ultrapassa 100 mil mortes por covid-19\n\n#SP #covid #calamidade #100milmortes \n\nhttps://t.co/ke6AdlOmx6"
        },
        {
            "created_at": "2021-05-08T18:30:00.000Z",
            "id": "1391098071388332039",
            "text": "A Organiza\u00e7\u00e3o Mundial da Sa\u00fade (#OMS) validou nesta sexta-feira para uso emergencial a vacina BBIBP-CorV #COVID-19 desenvolvida pela empresa chinesa Sinopharm.\n\nhttps://t.co/lGDft7sejf https://t.co/GyaUnJTfIY"
        },
        {
            "created_at": "2021-05-08T17:53:52.000Z",
            "id": "1391088980268134402",
            "text": "\u2018Banco do crime\u2019 \u00e9 suspeito de lavar dinheiro da Covid no Rio #BancodoCrime #Covid #Witzel #PlenoNews\n\nhttps://t.co/Ii0oBOCRZk"
        },
        {
            "created_at": "2021-05-08T17:25:00.000Z",
            "id": "1391081713661399043",
            "text": "A s\u00e9rie de webin\u00e1rios intitulada \"Coopera\u00e7\u00e3o Internacional na Medicina Tradicional contra #COVID-19\" teve in\u00edcio na quarta-feira, dia 5 de maio, contando com a participa\u00e7\u00e3o de autoridades chinesas e brasileiras em sua cerim\u00f4nia de abertura.\n\nhttps://t.co/cIJz1j1M8N https://t.co/HzzHueW875"
        },
        {
            "created_at": "2021-05-08T15:39:14.000Z",
            "id": "1391055096482607105",
            "text": "Com a pandemia de #Covid e o consequente isolamento social, a viol\u00eancia dom\u00e9stica e familiar cresceu e precisamos de a\u00e7\u00f5es para ajudar a combater esse problema e amparar as mulheres. Votei sim! #CombateAViolenciaContraMulher #NaoAViolenciaContraAMulher"
        },
        {
            "created_at": "2021-05-08T14:53:04.000Z",
            "id": "1391043478709227524",
            "text": "\u00cdndia supera 4.000 mortes di\u00e1rias por covid e debate sobre patentes continua\n\n#India #covid #mortes #patentes \n\nhttps://t.co/xxqbQaZ7AU"
        },
        {
            "created_at": "2021-05-08T14:00:00.000Z",
            "id": "1391030126507216901",
            "text": "Este ser\u00e1 nosso segundo Dia das M\u00e3es marcado pela #covid. Embora a saudade seja grande, neste momento, o maior ato de amor \u00e9 ficar em casa. Se for visitar a fam\u00edlia, siga as recomenda\u00e7\u00f5es abaixo. Aos que perderam figuras maternas para essa doen\u00e7a incans\u00e1vel, nossos sentimentos. https://t.co/3caoJ8K5vR"
        },
        {
            "created_at": "2021-05-08T11:49:33.000Z",
            "id": "1390997297115406337",
            "text": "O #PapaFrancisco enviou uma videomensagem para o #VaxLive\", evento em Los Angeles que viu o mundo do espet\u00e1culo e das institui\u00e7\u00f5es apoiar a distribui\u00e7\u00e3o justa das #vacinas contra a #Covid: inclus\u00e3o a fim de vencer \"a variante da indiferen\u00e7a\".\nhttps://t.co/Yh15J2JhyR"
        },
        {
            "created_at": "2021-05-08T10:57:59.000Z",
            "id": "1390984320735719424",
            "text": "No #CidadeseSolu\u00e7\u00f5es deste domingo, saiba por que o desmatamento, o tr\u00e1fico de animais silvestres e a produ\u00e7\u00e3o de prote\u00edna animal tornam o Brasil vulner\u00e1vel ao aparecimento de novos v\u00edrus, eventualmente letais. Amanh\u00e3, \u00e0s 21h, na @GloboNews #pandemia #virus #Covid https://t.co/VwXcN9SHRs"
        },
        {
            "created_at": "2021-05-08T00:27:03.000Z",
            "id": "1390825540177866754",
            "text": "Projeto da legenda aguarda an\u00e1lise na Comiss\u00e3o de Seguridade Social e Fam\u00edlia. Leia: https://t.co/LacHBKkddn #600At\u00e9OFimDaPandemia #Aux\u00edlioEmergencial #Covid #Pandemia #PCdoB https://t.co/9nJQ3Wbaa7"
        },
        {
            "created_at": "2021-05-08T00:12:43.000Z",
            "id": "1390821930815610880",
            "text": "Projeto da legenda aguarda an\u00e1lise na Comiss\u00e3o de Seguridade Social e Fam\u00edlia. Leia: https://t.co/Bv9SIcoEiy #600At\u00e9OFimDaPandemia #Aux\u00edlioEmergencial #Covid #Pandemia #PCdoB #PCdoBnaC\u00e2mara https://t.co/E50FtSZEYr"
        },
        {
            "created_at": "2021-05-07T23:33:44.000Z",
            "id": "1390812122217652230",
            "text": "Ibuprofeno n\u00e3o agrava infec\u00e7\u00e3o por covid-19, aponta estudo\n\n#covid #Ibuprofeno #estudo \n\nhttps://t.co/DsHonHpXFO"
        },
        {
            "created_at": "2021-05-07T22:46:15.000Z",
            "id": "1390800170162479106",
            "text": "\ud83e\udda0 Brasil confirma 419 mil mortes por #covid-19; s\u00e3o 2.165 em 24 horas\n\nhttps://t.co/Rj04rd6hGN"
        },
        {
            "created_at": "2021-05-07T22:36:11.000Z",
            "id": "1390797638203842561",
            "text": "\u26a1\ufe0fA opera\u00e7\u00e3o policial mais letal da hist\u00f3ria do Rio de Janeiro. O atentado a uma creche em Santa Catarina. Os primeiros depoimentos da CPI da #Covid. A morte do humorista Paulo Gustavo. E mais. #ExtratosDaSemana\n\nhttps://t.co/bLkwDsiiFf"
        },
        {
            "created_at": "2021-05-07T22:06:42.000Z",
            "id": "1390790216974323720",
            "text": "Covid: S\u00e9rvia vai pagar R$160 a cidad\u00e3os que se vacinarem\n#Covid #Servia #Vacina #PlenoNews \nhttps://t.co/7LyjuMGUdT"
        },
        {
            "created_at": "2021-05-07T21:07:46.000Z",
            "id": "1390775389220450305",
            "text": "Covid-19: PF investiga desvio de \u2018kit intuba\u00e7\u00e3o\u2019 no Amap\u00e1\n#Covid #PoliciaFederal #Amapa #KitIntuba\u00e7ao #PlenoNews \nhttps://t.co/W8gvd6yVIy"
        },
        {
            "created_at": "2021-05-07T20:03:48.000Z",
            "id": "1390759291209097219",
            "text": "Com as libera\u00e7\u00f5es por muitos lados, teremos novos fechamentos daqui algumas semanas?\n\n#UseMascara\n#vacinasim \n#COVID19\n#Covid"
        },
        {
            "created_at": "2021-05-07T20:00:02.000Z",
            "id": "1390758340758630402",
            "text": "A @camaradeputados aprovou dispensa de licita\u00e7\u00e3o para compra de insumos, medicamentos, bens e servi\u00e7os de engenharia pra tratamento hospitalar de pacientes de #Covid-19 \nSaiba como vai funcionar com @deputadoCelio no #PalavraAberta: https://t.co/EF1Xe4HCLn\n\n#combateaocoronavirus https://t.co/1HaChxysSw"
        },
        {
            "created_at": "2021-05-07T19:30:00.000Z",
            "id": "1390750783575003137",
            "text": "A Prov\u00edncia de #Hubei, no centro da #China, uma vez duramente atingida pela #COVID-19, administrou mais de 20,16 milh\u00f5es de doses de vacinas contra o coronav\u00edrus at\u00e9 quarta-feira, anunciou a comiss\u00e3o provincial de sa\u00fade nesta quinta-feira.\n\nhttps://t.co/O8eLRb7sAu https://t.co/iKg0HCg35r"
        },
        {
            "created_at": "2021-05-07T19:00:01.000Z",
            "id": "1390743238479335428",
            "text": "O aeroporto de #Wuhan, capital de #Hubei, no centro da #China, que foi duramente atingida pela epidemia de #COVID-19 no in\u00edcio do ano passado, atendeu 87 mil passageiros nesta quarta-feira, um recorde di\u00e1rio desde o in\u00edcio das opera\u00e7\u00f5es em 1995.\n\nhttps://t.co/mdX52T8GXo https://t.co/z0rC9FAIQe"
        },
        {
            "created_at": "2021-05-07T17:00:00.000Z",
            "id": "1390713036357443589",
            "text": "A parte continental chinesa reportou nesta quinta-feira 13 novos casos de #COVID-19, todos importados, informou a Comiss\u00e3o Nacional de Sa\u00fade em seu relat\u00f3rio di\u00e1rio na sexta-feira.\n\nhttps://t.co/AL0BXc2Zwj https://t.co/E079TzNxRC"
        },
        {
            "created_at": "2021-05-07T16:44:18.000Z",
            "id": "1390709082298978306",
            "text": "\ud83e\udd73 #NoEpicentro, da @agencialupa, t\u00e1 l\u00e1, finalistas do @sigmaawards. Visitem https://t.co/yL3mNO5RJd e experimentem essa dram\u00e1tica visualiza\u00e7\u00e3o de dados sobre #COVID19 #covid #pandemia https://t.co/L7V7Gdripo"
        },
        {
            "created_at": "2021-05-07T16:31:14.000Z",
            "id": "1390705794186944515",
            "text": "Pessoas que j\u00e1 tiveram dengue tem duas vezes mais chance de desenvolver forma sintom\u00e1tica da covid\n\n#Pessoas #dengue #duasvezes #covid #coronav\u00edrus\nhttps://t.co/PMipD1C157"
        },
        {
            "created_at": "2021-05-07T16:05:55.000Z",
            "id": "1390699422850424833",
            "text": "Nova cepa do coronav\u00edrus encontrada no Rio est\u00e1 presente em 5,85% das amostras\n\n#coronav\u00edrus #cepa #novacepa #covid #Rio #RiodeJaneiro \nhttps://t.co/dgQqaK4GTq"
        },
        {
            "created_at": "2021-05-07T15:21:18.000Z",
            "id": "1390688195914997768",
            "text": "Bolsonaro diz a senadores da CPI da Covid: \u201cN\u00e3o encham o saco\u201d\n#Bolsonaro #CPI #Covid #PlenoNews\nhttps://t.co/lsvGSSzR31"
        },
        {
            "created_at": "2021-05-07T15:09:20.000Z",
            "id": "1390685184685707265",
            "text": "Chegamos a 500 mil doses de vacinas aplicadas contra a #covid. Seguimos firmes na imuniza\u00e7\u00e3o das pessoas e na orienta\u00e7\u00e3o pra manterem os cuidados de uso de m\u00e1scara, higieniza\u00e7\u00e3o das m\u00e3os e distanciamento. @prefrecife https://t.co/lOX5tuHWc3"
        },
        {
            "created_at": "2021-05-07T13:42:31.000Z",
            "id": "1390663335797002240",
            "text": "Rio flexibiliza medidas contra Covid, libera praias e acaba com toque de recolher\n\n#Rio #Covid #medidas #toquederecolher \nhttps://t.co/WRtRrPmrg3"
        },
        {
            "created_at": "2021-05-07T13:12:04.000Z",
            "id": "1390655674087059461",
            "text": "A visita ocorre dois dias ap\u00f3s o pr\u00f3prio general alegar que a suspeita de estar com #coronav\u00edrus o impediria de comparecer \u00e0 #CPIdaCovid. #Covid #Pandemia https://t.co/MqESJCjvZd"
        },
        {
            "created_at": "2021-05-07T13:09:32.000Z",
            "id": "1390655034719887363",
            "text": "Ser\u00e3o distribu\u00eddos 150 cilindros para 16 cidades selecionadas nos Estados onde a nossa mineradora tem \u00e1reas de atua\u00e7\u00e3o.\n#angloamerican #oxig\u00eanio #Covid #comunidadesanfitri\u00e3s"
        },
        {
            "created_at": "2021-05-07T07:07:00.000Z",
            "id": "1390563803134300160",
            "text": "\ud83c\uddfa\ud83c\uddf8 #Vaccins anti-#Covid: ce qui a convaincu #JoeBiden \u2013 par @alexisbuisson https://t.co/7UYh1phgUV"
        },
        {
            "created_at": "2021-05-06T23:37:01.000Z",
            "id": "1390450561879789568",
            "text": "Presidente do Grupo Parlamentar Brasil-China, deputado @Daniel_PCdoB (BA), recha\u00e7ou a postura do presidente da Rep\u00fablica. Leia: https://t.co/FEXPbr4h39 #Covid #CPIdaCovid #VacinaJ\u00e1 #China #Brasil  #ForaBolsonaro #PCdoB https://t.co/upobbIh9dG"
        },
        {
            "created_at": "2021-05-06T23:27:28.000Z",
            "id": "1390448157901967361",
            "text": "Presidente do Grupo Parlamentar Brasil-China, deputado @Daniel_PCdoB (BA), recha\u00e7ou a postura do presidente da Rep\u00fablica. Leia: https://t.co/S84aAFnP0a #Covid #CPIdaCovid #VacinaJ\u00e1 #China #Brasil  #ForaBolsonaro #PCdoB #PCdoBnaC\u00e2mara https://t.co/wTShFQj9HG"
        },
        {
            "created_at": "2021-05-06T23:26:03.000Z",
            "id": "1390447800081600514",
            "text": "Com a #Covid, estamos vendo o problema de ser dependente de insumos importados p/ a produ\u00e7\u00e3o de vacinas. P/ ajudsr nisso provamos o PL 4209/2019, q d\u00e1 prioridade p/ an\u00e1lise de pedido de registro de medicamentos q contenham o insumo farmac\u00eautico ativo (IFA) de origem nacional. https://t.co/Q9LqUPDauJ"
        },
        {
            "created_at": "2021-05-06T23:00:00.000Z",
            "id": "1390441244548079619",
            "text": "#Covid-19: MPT destina recursos ao Complexo Universit\u00e1rio Hospitalar da UFPA\n\ud83d\udcbbhttps://t.co/iBOuGtmL2G\n\ud83d\udcf7 Freepik https://t.co/fP9Wl9Pjyy"
        },
        {
            "created_at": "2021-05-06T22:56:51.000Z",
            "id": "1390440451036139520",
            "text": "#Covid | Estimativas de subnotifica\u00e7\u00e3o feitas pela @fiocruz d\u00e3o conta de mais de meio milh\u00e3o de mortes.\n\n+ Sem coordena\u00e7\u00e3o, aus\u00eancia de vigil\u00e2ncia epidemiol\u00f3gica implicam nesse cen\u00e1rio incerto.\n\nhttps://t.co/2GckuH5Fb4"
        },
        {
            "created_at": "2021-05-06T21:54:25.000Z",
            "id": "1390424740393795586",
            "text": "Vice-governador do Amazonas afirma que medida defendida por Bolsonaro levou Manaus ao colapso. Leia: https://t.co/ATlbkmEccn #Pandemia #Covid #Amazonas #ForaBolsonaro #PCdoB https://t.co/z9UfB0TFFg"
        },
        {
            "created_at": "2021-05-06T21:35:41.000Z",
            "id": "1390420025526394880",
            "text": "Vice-governador do Amazonas afirma que medida defendida por Bolsonaro levou Manaus ao colapso. Leia: https://t.co/DGAGeqV4Jz #Pandemia #Covid #Amazonas #ForaBolsonaro #PCdoB #PCdoBnaC\u00e2mara https://t.co/raqJj2p2GH"
        },
        {
            "created_at": "2021-05-06T21:30:00.000Z",
            "id": "1390418596241842177",
            "text": "A parte continental chinesa reportou nesta quarta-feira cinco novos casos de #COVID-19, todos importados, informou a Comiss\u00e3o Nacional de Sa\u00fade em seu relat\u00f3rio di\u00e1rio nesta quinta-feira.\n\nhttps://t.co/Sgup5MP8sd https://t.co/28h3cfVX8h"
        },
        {
            "created_at": "2021-05-06T21:29:27.000Z",
            "id": "1390418456248471559",
            "text": "Deputados recha\u00e7am postura de Marcelo Queiroga em depoimento \u00e0 CPI da Covid. Leia: https://t.co/fiMlXWeXSM #CPIdaCovid #VacinaJ\u00e1 #Covid #ForaBolsonaro #PCdoB https://t.co/0g9aNCuKLU"
        },
        {
            "created_at": "2021-05-06T21:00:00.000Z",
            "id": "1390411044326187012",
            "text": "Uma terceira onda de surto da #COVID-19 na #\u00cdndia \u00e9 inevit\u00e1vel devido aos elevados n\u00edveis do v\u00edrus em circula\u00e7\u00e3o, disse na quarta-feira o principal conselheiro cient\u00edfico do governo federal da \u00cdndia, K. Vijay Raghavan.\n\nhttps://t.co/0zsha5HlEH https://t.co/hMOqXrSveZ"
        },
        {
            "created_at": "2021-05-06T19:32:16.000Z",
            "id": "1390388966566793218",
            "text": "#COVID: #NUOVA #ONDATA di #CONTAGI entro #FINE #MAGGIO, #ESTATE a #RISCHIO? #Parla il prof. #Andrea #CRISANTI https://t.co/TymJBiM7ys"
        },
        {
            "created_at": "2021-05-06T19:30:00.000Z",
            "id": "1390388397064216576",
            "text": "O @minsaude liberou hoje 284 leitos de suporte ventilat\u00f3rio pulmonar para tratamento de pacientes com #covid-19. Recursos beneficiar\u00e3o dez estados e o Distrito Federal. Conhe\u00e7a mais detalhes: https://t.co/klpFfDG9bB.\n\ud83d\udcf7Marcello Casal Jr/ Ag\u00eancia Brasil https://t.co/Mj6ANUYg22"
        },
        {
            "created_at": "2021-05-06T18:24:39.000Z",
            "id": "1390371951034736642",
            "text": "Deputados recha\u00e7am postura de Marcelo Queiroga em depoimento \u00e0 CPI da Covid. Leia: https://t.co/BOHKkuFCTo #CPIdaCovid #VacinaJ\u00e1 #Covid #ForaBolsonaro #PCdoB #PCdoBnaC\u00e2mara https://t.co/oCSi5J5L4a"
        },
        {
            "created_at": "2021-05-06T17:41:50.000Z",
            "id": "1390361175670591489",
            "text": ".@OPASOMSBrasil : #Am\u00e9ricas ter\u00e3o que aumentar n\u00famero de leitos de UTI se tend\u00eancia permanecer; 40% dos \u00f3bitos, em n\u00edvel global, na semana passada, ocorreram na regi\u00e3o; muitos #jovens est\u00e3o perdendo a vida ap\u00f3s disparadade novos casos de #Covid #vacinas \n\nhttps://t.co/AgMnimin1K"
        },
        {
            "created_at": "2021-05-06T17:30:00.000Z",
            "id": "1390358197412589578",
            "text": "O n\u00famero de casos confirmados de #COVID-19 no continente africano chegou a 4.578.902 at\u00e9 ter\u00e7a-feira, informou o Centro da \u00c1frica para o Controle e a Preven\u00e7\u00e3o de Doen\u00e7as (CDC da \u00c1frica).\n\nhttps://t.co/RaYqe1XijS https://t.co/ZxIQBMKUYD"
        },
        {
            "created_at": "2021-05-06T16:24:01.000Z",
            "id": "1390341592687464448",
            "text": "#CPIdaCovid I Eduardo Braga: Essa CPI foi instalada com o princ\u00edpio de salvar vidas. Mais de 414 mil brasileiros j\u00e1 morreram por conta da #covid. No caso do Amazonas, mais de 12 mil mortos, quase 2 vezes a m\u00e9dia nacional. O senhor n\u00e3o acha essa uma situa\u00e7\u00e3o extrema?"
        },
        {
            "created_at": "2021-05-06T16:00:00.000Z",
            "id": "1390335546996649984",
            "text": "O presidente dos Estados Unidos, Joe Biden, estabeleceu nesta ter\u00e7a-feira o objetivo de que 70% da popula\u00e7\u00e3o adulta do pa\u00eds receba pelo menos uma dose da vacina contra a #COVID-19 antes de 4 de julho.\n\nhttps://t.co/zeZDgY4pGc https://t.co/8ZuPoWfrSn"
        },
        {
            "created_at": "2021-05-06T15:47:00.000Z",
            "id": "1390332277654269952",
            "text": "G20 prev\u00ea \u201cfinanciamento total\u201d de compra de vacinas pela OMS\n#G20 #Vacina #OMS #Covid #PlenoNews\nhttps://t.co/rLpEwbZlHx"
        },
        {
            "created_at": "2021-05-06T15:34:31.000Z",
            "id": "1390329135944323078",
            "text": "Ao todo 284,60 milh\u00f5es de doses das vacinas contra a #COVID-19 foram administradas em toda a #China at\u00e9 ter\u00e7a-feira, disse nesta quarta-feira a Comiss\u00e3o Nacional de Sa\u00fade.\n\nhttps://t.co/6NNY8zRMfE https://t.co/BsYCPwWuNY"
        },
        {
            "created_at": "2021-05-06T15:26:39.000Z",
            "id": "1390327155754741763",
            "text": "Senador chama Renan Calheiros de \u201cmentiroso\u201d na CPI da Covid #RenanCalheiros #CPI #Covid #PlenoNews\n\nhttps://t.co/E33J5d93eL"
        },
        {
            "created_at": "2021-05-06T15:05:41.000Z",
            "id": "1390321877630001157",
            "text": "O #Brasil contabilizou 2.811 novas mortes pelo novo coronav\u00edrus #COVID-19 nas \u00faltimas 24 horas, elevando o total de \u00f3bitos da pandemia no pa\u00eds a 414.399, informou o Minist\u00e9rio da Sa\u00fade nesta quarta-feira.\n\nhttps://t.co/8UUYd8KI7a https://t.co/NycSB8nBnw"
        },
        {
            "created_at": "2021-05-06T14:47:00.000Z",
            "id": "1390317176012214274",

Primeira tentativa: Leitura do arquivo sem parâmetros:

In [ ]:
pddf_json = pd.read_json("tweets_colected_May_2_to_8_2022_0515190324.json")

ValueError: ignored

O erro ocorre pois nosso arquivo JSON possui dois índices com dois níveis cada. Um índice é o 'data' e dentro dele os dados dos tweets e o outro é o 'meta', com os dados gerais do arquivo.

Sendo assim, vamos tentar a importação com a orientação por índices, para vermos o que temos no arquivo:

In [ ]:
pddf_json = pd.read_json("tweets_colected_May_2_to_8_2022_0515190324.json", orient="index")
pddf_json.head()

,0,1,2,3,4,5,6,7,8,9,...,120,121,122,123,124,125,126,127,128,129
data,"{'created_at': '2021-05-08T21:00:00.000Z', 'id...","{'created_at': '2021-05-08T20:30:00.000Z', 'id...","{'created_at': '2021-05-08T20:02:15.000Z', 'id...","{'created_at': '2021-05-08T19:45:52.000Z', 'id...","{'created_at': '2021-05-08T18:30:00.000Z', 'id...","{'created_at': '2021-05-08T17:53:52.000Z', 'id...","{'created_at': '2021-05-08T17:25:00.000Z', 'id...","{'created_at': '2021-05-08T15:39:14.000Z', 'id...","{'created_at': '2021-05-08T14:53:04.000Z', 'id...","{'created_at': '2021-05-08T14:00:00.000Z', 'id...",...,"{'created_at': '2021-05-02T20:22:16.000Z', 'id...","{'created_at': '2021-05-02T19:32:16.000Z', 'id...","{'created_at': '2021-05-02T18:00:00.000Z', 'id...","{'created_at': '2021-05-02T16:15:23.000Z', 'id...","{'created_at': '2021-05-02T16:15:18.000Z', 'id...","{'created_at': '2021-05-02T16:00:02.000Z', 'id...","{'created_at': '2021-05-02T15:40:08.000Z', 'id...","{'created_at': '2021-05-02T15:40:04.000Z', 'id...","{'created_at': '2021-05-02T15:22:49.000Z', 'id...","{'created_at': '2021-05-02T12:01:08.000Z', 'id..."
meta,newest_id,oldest_id,result_count,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

Agora precisamos configurar nossa importação para que o formato de saída seja uma lista de dois elementos:
- data - contendo os tweets
- meta - contendo os dados gerais

Com esta lista, poderemos selecionar 'data' e criar o dataframe com estes dados:

In [ ]:
lista_data_meta = pd.read_json("tweets_colected_May_2_to_8_2022_0515190324.json", orient="index", typ="series",dtype={"created_at", "id", "text"})

In [ ]:
lista_data_meta

data    [{'created_at': '2021-05-08T21:00:00.000Z', 'i...
meta    {'newest_id': '1391135820371931137', 'oldest_i...
dtype: object

In [ ]:
lista_data_meta[1]

{'newest_id': '1391135820371931137',
 'oldest_id': '1388825883365060615',
 'result_count': 130}

In [ ]:
pddf_json_data = pd.DataFrame(lista_data_meta['data'])
pddf_json_data

,created_at,id,text
0,2021-05-08T21:00:00.000Z,1391135820371931137,#Cuba relatou mais de 1.000 novas infecções po...
1,2021-05-08T20:30:00.000Z,1391128270721241089,A #Argentina relatou na quinta-feira 24.086 no...
2,2021-05-08T20:02:15.000Z,1391121287343452165,#COVID: #NUOVA #ONDATA di #CONTAGI entro #FINE...
3,2021-05-08T19:45:52.000Z,1391117164141219840,Estado de São Paulo ultrapassa 100 mil mortes ...
4,2021-05-08T18:30:00.000Z,1391098071388332039,A Organização Mundial da Saúde (#OMS) validou ...
...,...,...,...
125,2021-05-02T16:00:02.000Z,1388886003293822976,A parte continental da #China relatou no sábad...
126,2021-05-02T15:40:08.000Z,1388880997001875462,O número ainda é inferior ao registrado por Br...
127,2021-05-02T15:40:04.000Z,1388880978882482177,O número ainda é inferior ao registrado por Br...
128,2021-05-02T15:22:49.000Z,1388876640571305990,"O presidente do #Chile, Sebastián Piñera, anun..."
129,2021-05-02T12:01:08.000Z,1388825883365060615,📱 O aplicativo #ConecteSUS reúne vários serviç...

#### Alterar dados do dataframe para salvar novo JSON

In [ ]:
pddf_json_data = pddf_json_data[:2]

In [ ]:
pddf_json_data

,created_at,id,text
0,2021-05-08T21:00:00.000Z,1391135820371931137,#Cuba relatou mais de 1.000 novas infecções po...
1,2021-05-08T20:30:00.000Z,1391128270721241089,A #Argentina relatou na quinta-feira 24.086 no...

In [ ]:
lista_data_meta[1]

{'newest_id': '1391135820371931137',
 'oldest_id': '1388825883365060615',
 'result_count': 130}

In [ ]:
meta_novo = lista_data_meta[1].copy()

In [ ]:
meta_novo['oldest_id'] = "1391128270721241089"
meta_novo['result_count'] = 2

In [ ]:
meta_novo

{'newest_id': '1391135820371931137',
 'oldest_id': '1391128270721241089',
 'result_count': 2}

#### Persistindo aqui: JSON com PANDAS
Para salvar dados de um pandas dataframe em um formato JSON, devemos informar qual será a estrutura do arquivo:

In [ ]:
string_json = pddf_json_data.to_json()
print(string_json)

{"created_at":{"0":"2021-05-08T21:00:00.000Z","1":"2021-05-08T20:30:00.000Z"},"id":{"0":"1391135820371931137","1":"1391128270721241089"},"text":{"0":"#Cuba relatou mais de 1.000 novas infec\u00e7\u00f5es por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Minist\u00e9rio da Sa\u00fade P\u00fablica, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\n\nhttps:\/\/t.co\/U05loLcfTH https:\/\/t.co\/ahLZ9IrxOD","1":"A #Argentina relatou na quinta-feira 24.086 novas infec\u00e7\u00f5es por #COVID-19 e 399 mortes nas \u00faltimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\n\nhttps:\/\/t.co\/xZKWs97L3S https:\/\/t.co\/WIZbblWMI7"}}

Para visualizarmos melhor o resultado JSON, podemos usar o argumento, indent com o número de espaços para indentação ou a biblioteca json:

In [ ]:
#Com a biblioteca json:
import json
parseado = json.loads(string_json)
print(json.dumps(parseado, indent=4, sort_keys=True))

{
    "created_at": {
        "0": "2021-05-08T21:00:00.000Z",
        "1": "2021-05-08T20:30:00.000Z"
    },
    "id": {
        "0": "1391135820371931137",
        "1": "1391128270721241089"
    },
    "text": {
        "0": "#Cuba relatou mais de 1.000 novas infec\u00e7\u00f5es por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Minist\u00e9rio da Sa\u00fade P\u00fablica, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\n\nhttps://t.co/U05loLcfTH https://t.co/ahLZ9IrxOD",
        "1": "A #Argentina relatou na quinta-feira 24.086 novas infec\u00e7\u00f5es por #COVID-19 e 399 mortes nas \u00faltimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\n\nhttps://t.co/xZKWs97L3S https://t.co/WIZbblWMI7"
    }
}

In [ ]:
# Com o argumento indent igual a 4:
string_json = pddf_json_data.to_json(indent=4)
print(string_json)

{
    "created_at":{
        "0":"2021-05-08T21:00:00.000Z",
        "1":"2021-05-08T20:30:00.000Z"
    },
    "id":{
        "0":"1391135820371931137",
        "1":"1391128270721241089"
    },
    "text":{
        "0":"#Cuba relatou mais de 1.000 novas infec\u00e7\u00f5es por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Minist\u00e9rio da Sa\u00fade P\u00fablica, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\n\nhttps:\/\/t.co\/U05loLcfTH https:\/\/t.co\/ahLZ9IrxOD",
        "1":"A #Argentina relatou na quinta-feira 24.086 novas infec\u00e7\u00f5es por #COVID-19 e 399 mortes nas \u00faltimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\n\nhttps:\/\/t.co\/xZKWs97L3S https:\/\/t.co\/WIZbblWMI7"
    }
}

Percebemos que o resultado não ficou como esperávamos. Teremos que configurar mais alguns argumentos do método to_json do pandas:

- orient = "table"
  - Para configurar o formato de interpretação dos dados do dataframe para o json em tabela (cada linha como um dado completo e o nome das colunas como chaves dos dados)
- force_ascii = False
  Não forçar a codificação em ASCII para que as acentuações apareçam corretamente.
- index = False
  - Para que o arquivo json não receba a coluna index criada automaticamento na criação do dataframe
- indent = 4 
  - Para configurar indentação da saída com print (apenas visualização)

In [ ]:
string_json = pddf_json_data.to_json(orient="records", force_ascii=False, indent=4, lines=False)
print(string_json)

[
    {
        "created_at":"2021-05-08T21:00:00.000Z",
        "id":"1391135820371931137",
        "text":"#Cuba relatou mais de 1.000 novas infecções por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Ministério da Saúde Pública, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\n\nhttps:\/\/t.co\/U05loLcfTH https:\/\/t.co\/ahLZ9IrxOD"
    },
    {
        "created_at":"2021-05-08T20:30:00.000Z",
        "id":"1391128270721241089",
        "text":"A #Argentina relatou na quinta-feira 24.086 novas infecções por #COVID-19 e 399 mortes nas últimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\n\nhttps:\/\/t.co\/xZKWs97L3S https:\/\/t.co\/WIZbblWMI7"
    }
]

In [ ]:
pddf_json_data.to_json("dois_tweets_sem_metadados.json", orient="records", force_ascii=False, indent=4, lines=False)

In [ ]:
!cat dois_tweets_sem_metadados.json

[
    {
        "created_at":"2021-05-08T21:00:00.000Z",
        "id":"1391135820371931137",
        "text":"#Cuba relatou mais de 1.000 novas infecções por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Ministério da Saúde Pública, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\n\nhttps:\/\/t.co\/U05loLcfTH https:\/\/t.co\/ahLZ9IrxOD"
    },
    {
        "created_at":"2021-05-08T20:30:00.000Z",
        "id":"1391128270721241089",
        "text":"A #Argentina relatou na quinta-feira 24.086 novas infecções por #COVID-19 e 399 mortes nas últimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\n\nhttps:\/\/t.co\/xZKWs97L3S https:\/\/t.co\/WIZbblWMI7"
    }
]

In [ ]:
string_json = pddf_json_data.to_json(orient="table", force_ascii=False, index=False)
parseado = json.loads(string_json)
print(json.dumps(parseado, indent=4, ensure_ascii=False, sort_keys=True))

{
    "data": [
        {
            "created_at": "2021-05-08T21:00:00.000Z",
            "id": "1391135820371931137",
            "text": "#Cuba relatou mais de 1.000 novas infecções por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Ministério da Saúde Pública, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\n\nhttps://t.co/U05loLcfTH https://t.co/ahLZ9IrxOD"
        },
        {
            "created_at": "2021-05-08T20:30:00.000Z",
            "id": "1391128270721241089",
            "text": "A #Argentina relatou na quinta-feira 24.086 novas infecções por #COVID-19 e 399 mortes nas últimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\n\nhttps://t.co/xZKWs97L3S https://t.co/WIZbblWMI7"
        }
    ],
    "schema": {
        "fields": [
            {
                "name": "created_at",
                "type": "string"
            },
            {
                "name": "id",
                "type": "string"
            },
            {
                "name": "text",
                "type": "string"
            }
        ],
        "pandas_version": "0.20.0"
    }
}

- Se usarmos orient igual a records, temos os dados, mas sem a chave "data" e nem os metadados.

- Se usarmos orient igual a table,  temos os dados com a chave "data", mas sem os metadados.

Para criarmos um arquivo JSON no mesmo formato do original, teremos que montar uma string que contenha tanto os dados quanto os metadados e ainda, dentro destra string, teremos que garantir que os dados possuem uma chave de nome "data" e os metadados de nome "meta".

Sendo assim, antes de criarmos a string final, teremos que criar um dicionário que tenha a chave "data" com valor igual à saída json anterior com orient="records" porém em formato de diconário e outra chave "meta" com o valor igual aos metadados, que já estão em formato de dicionário:

In [ ]:
data = json.loads(pddf_json_data.to_json(orient="records", force_ascii=False, lines=False))
meta = meta_novo

string_json = json.dumps({"data":data,"meta":meta}, ensure_ascii=False, indent = 4)

print(string_json)

{
    "data": [
        {
            "created_at": "2021-05-08T21:00:00.000Z",
            "id": "1391135820371931137",
            "text": "#Cuba relatou mais de 1.000 novas infecções por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Ministério da Saúde Pública, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\n\nhttps://t.co/U05loLcfTH https://t.co/ahLZ9IrxOD"
        },
        {
            "created_at": "2021-05-08T20:30:00.000Z",
            "id": "1391128270721241089",
            "text": "A #Argentina relatou na quinta-feira 24.086 novas infecções por #COVID-19 e 399 mortes nas últimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\n\nhttps://t.co/xZKWs97L3S https://t.co/WIZbblWMI7"
        }
    ],
    "meta": {
        "newest_id": "1391135820371931137",
        "oldest_id": "1391128270721241089",
        "result_count": 2
    }
}

Para salvarmos este resultado em um arquivo, basta abrirmos o arquivo no gerenciador de contexto (with) e realizarmos o json.dump() dentro dele:

In [ ]:
with open('dois_tweets.json', 'w', encoding='utf-8') as arquivo_aberto:
    json.dump({"data":data,"meta":meta}, arquivo_aberto, ensure_ascii=False, indent = 4)

In [ ]:
!cat dois_tweets.json

{
    "data": [
        {
            "created_at": "2021-05-08T21:00:00.000Z",
            "id": "1391135820371931137",
            "text": "#Cuba relatou mais de 1.000 novas infecções por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Ministério da Saúde Pública, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\n\nhttps://t.co/U05loLcfTH https://t.co/ahLZ9IrxOD"
        },
        {
            "created_at": "2021-05-08T20:30:00.000Z",
            "id": "1391128270721241089",
            "text": "A #Argentina relatou na quinta-feira 24.086 novas infecções por #COVID-19 e 399 mortes nas últimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\n\nhttps://t.co/xZKWs97L3S https://t.co/WIZbblWMI7"
        }
    ],
    "meta": {
        "newest_id": "1391135820371931137",
        "oldest_id": "1391128270721241089",
        "result_count": 2
    }
}

## Leitura de arquivos XML e JSON com SPARK

### XML com SPARK
O SPARK nos permite carregar e processar grandes quantidades de dados, porém é especialmente útil quando utilizamos um cluster para processamento (diversos computadores conectados e executando um pedaço da mesma tarefa).

Isto é chamdo de processamento distribuído, mas aqui no colab só podemos utilizar um único servidor.

In [ ]:
!cat Badges-small.xml

<?xml version="1.0" encoding="utf-8"?>
<Root>
	<badges>
		<row Id="82946" UserId="3718" Name="Teacher" Date="2008-09-15T08:55:03.923" Class="3" TagBased="False" />
		<row Id="82947" UserId="994" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
		<row Id="82949" UserId="3893" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
		<row Id="82950" UserId="4591" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
		<row Id="82951" UserId="5196" Name="Teacher" Date="2008-09-15T08:55:03.957" Class="3" TagBased="False" />
	</badges>
</Root>

In [ ]:
# Criação do dataframe spark de um xml pequeno (10 segundos, em média)
df_spark_xml = spark.read.format('xml') \
                  .option('rootTag', 'Root') \
                  .option('rowTag', 'row') \
                  .load('/content/Badges-small.xml')

In [ ]:
df_spark_xml.show()

+------+--------------------+-----+-------+---------+-------+
|_Class|               _Date|  _Id|  _Name|_TagBased|_UserId|
+------+--------------------+-----+-------+---------+-------+
|     3|2008-09-15 08:55:...|82946|Teacher|    false|   3718|
|     3|2008-09-15 08:55:...|82947|Teacher|    false|    994|
|     3|2008-09-15 08:55:...|82949|Teacher|    false|   3893|
|     3|2008-09-15 08:55:...|82950|Teacher|    false|   4591|
|     3|2008-09-15 08:55:...|82951|Teacher|    false|   5196|
+------+--------------------+-----+-------+---------+-------+

Podemos alterar os dados e no SPARK, uma das formas é criar uma SQL VIEW temporária e usá-la como uma tabela de um banco de dados SQL para coletar os dados que queremos.

In [ ]:
# Criação da VIEW temporária "tabela_do_xml":
df_spark_xml.createTempView("tabela_do_xml")

In [ ]:
df_spark_xml_novo = spark.sql("SELECT _UserID as UserId, _Name as Name, _Class as Class  FROM tabela_do_xml LIMIT 2")

In [ ]:
df_spark_xml_novo.show()

+------+-------+-----+
|UserId|   Name|Class|
+------+-------+-----+
|  3718|Teacher|    3|
|   994|Teacher|    3|
+------+-------+-----+

#### Persistindo aqui: XML com SPARK

Podemos salvar o SPARK dataframe diretamente como XML, porém com algumas limitações:

In [ ]:
df_spark_xml_novo.write.format("com.databricks.spark.xml").options(rootTag = "Root", rowTag = "row").save("pasta_temp")
!mv /content/pasta_temp/part-* /content/spark_to_xml.xml
!rm -R pasta_temp

In [ ]:
!cat spark_to_xml.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Root>
    <row>
        <UserId>3718</UserId>
        <Name>Teacher</Name>
        <Class>3</Class>
    </row>

    <row>
        <UserId>994</UserId>
        <Name>Teacher</Name>
        <Class>3</Class>
    </row>

</Root>

Ou podemos converter o dataframe SPRAK resultante em um PANDAS dataframe e salvá-lo como fizemos antes:

In [ ]:
# Conversão de dataframe SPARK para PANDAS:
df_pandas_de_df_spark_xml_novo = df_spark_xml_novo.toPandas()

In [ ]:
# Criação do arquivo XML do PANDAS dataframe:
df_pandas_de_df_spark_xml_novo.to_xml("spark_to_pandas_to_xml.xml",stylesheet="xml_format.xsl")
!cat spark_to_pandas_to_xml.xml

<?xml version="1.0" encoding="utf-8"?>
<Root>
  <badges>
    <row Id="" UserId="3718" Name="Teacher" Date="" Class="3" TagBased=""/>
    <row Id="" UserId="994" Name="Teacher" Date="" Class="3" TagBased=""/>
  </badges>
</Root>

#### Exemplo de leitura de arquivo XML grande.
Com mais de 1GB de tamanho e um pouco mais de 10 milhões de linhas.

In [ ]:
# Exemplo de arquivo grande:
!ls -lsh Badges.xml | awk '{print "Nome do arquivo:", $10, "\nTamanho:\t", $6"B"}'

Nome do arquivo: Badges.xml
Tamanho:	 1.1GB

In [ ]:
# Tempo de execussão: 15 a 20 minutos
df_spark_xml_grande = spark.read.format('xml') \
                 .option('rootTag', 'Root') \
                 .option('rowTag', 'row') \
                 .load('/content/Badges.xml')

In [ ]:
df_spark_xml_grande.show()

+------+--------------------+-----+-------+---------+-------+
|_Class|               _Date|  _Id|  _Name|_TagBased|_UserId|
+------+--------------------+-----+-------+---------+-------+
|     3|2008-09-15 08:55:...|82946|Teacher|    false|   3718|
|     3|2008-09-15 08:55:...|82947|Teacher|    false|    994|
|     3|2008-09-15 08:55:...|82949|Teacher|    false|   3893|
|     3|2008-09-15 08:55:...|82950|Teacher|    false|   4591|
|     3|2008-09-15 08:55:...|82951|Teacher|    false|   5196|
|     3|2008-09-15 08:55:...|82946|Teacher|    false|   3718|
|     3|2008-09-15 08:55:...|82947|Teacher|    false|    994|
|     3|2008-09-15 08:55:...|82949|Teacher|    false|   3893|
|     3|2008-09-15 08:55:...|82950|Teacher|    false|   4591|
|     3|2008-09-15 08:55:...|82951|Teacher|    false|   5196|
|     3|2008-09-15 08:55:...|82946|Teacher|    false|   3718|
|     3|2008-09-15 08:55:...|82947|Teacher|    false|    994|
|     3|2008-09-15 08:55:...|82949|Teacher|    false|   3893|
|     3|2008-09-15 08:55:...|82950|Teacher|    false|   4591|
|     3|2008-09-15 08:55:...|82951|Teacher|    false|   5196|
|     3|2008-09-15 08:55:...|82946|Teacher|    false|   3718|
|     3|2008-09-15 08:55:...|82947|Teacher|    false|    994|
|     3|2008-09-15 08:55:...|82949|Teacher|    false|   3893|
|     3|2008-09-15 08:55:...|82950|Teacher|    false|   4591|
|     3|2008-09-15 08:55:...|82951|Teacher|    false|   5196|
+------+--------------------+-----+-------+---------+-------+
only showing top 20 rows

Contagem do número de linhas. Como o Spark realiza uma analise preguiçosa, ele não conhece ainda o número total de linhas. Para isso, será necessário realizar a contagem pela primeira vez, o que levará tempo.

In [ ]:
# tempo de execução: de 2 a 10 min 
df_spark_xml_grande.count()

10121760

### JSON com SPARK

Primeiramente, vamos importar o arquivo JSON para o SPARK dataframe e analisar o que foi importado.

Vamos usar .option("multiline","true") pois sabemos que nosso arquivo JSON possui estrutura de multiníveis.

In [ ]:
df_json_spark = spark.read.option("multiline","true").json("tweets_colected_May_2_to_8_2022_0515190324.json")

In [ ]:
df_json_spark.show(truncate=70)

+----------------------------------------------------------------------+-----------------------------------------------+
|                                                                  data|                                           meta|
+----------------------------------------------------------------------+-----------------------------------------------+
|[{2021-05-08T21:00:00.000Z, 1391135820371931137, #Cuba relatou mais...|{1391135820371931137, 1388825883365060615, 130}|
+----------------------------------------------------------------------+-----------------------------------------------+

In [ ]:
df_json_spark.dtypes

[('data', 'array<struct<created_at:string,id:string,text:string>>'),
 ('meta', 'struct<newest_id:string,oldest_id:string,result_count:bigint>')]

In [ ]:
df_json_spark.printSchema()

root
 |-- data: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- created_at: string (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- text: string (nullable = true)
 |-- meta: struct (nullable = true)
 |    |-- newest_id: string (nullable = true)
 |    |-- oldest_id: string (nullable = true)
 |    |-- result_count: long (nullable = true)

Percebemos que a importação não nos trouxe todas as informações em uma única dimensão. Sendo assim, teremos que transformar os dados para que eles fiquem com apenas duas dimensões.

(Flaten the data)

Como os dados que nos interessam estão dentro de um array que possui uma struct com as colunas que queremos, teremos que converter este array em uma string JSON:

In [ ]:
from pyspark.sql.functions import to_json, col
from pyspark.sql.types import MapType,StringType,ArrayType

In [ ]:
df_json_spark2 = df_json_spark.withColumn("data",to_json(col("data"))).withColumn("meta",to_json(col("meta")))
df_json_spark2.show(truncate=70)
df_json_spark2.printSchema()
df_json_spark2.dtypes

+----------------------------------------------------------------------+----------------------------------------------------------------------+
|                                                                  data|                                                                  meta|
+----------------------------------------------------------------------+----------------------------------------------------------------------+
|[{"created_at":"2021-05-08T21:00:00.000Z","id":"1391135820371931137...|{"newest_id":"1391135820371931137","oldest_id":"1388825883365060615...|
+----------------------------------------------------------------------+----------------------------------------------------------------------+

root
 |-- data: string (nullable = true)
 |-- meta: string (nullable = true)

[('data', 'string'), ('meta', 'string')]

Com a string JSON formada na coluna "data", vamos criar um novo dataframe apenas com as informações da coluna "data":

In [ ]:
df_json_spark_data = spark.read.json(df_json_spark2.select("data").rdd.map(lambda x: x[0]))

In [ ]:
df_json_spark_data.show(truncate=70)

+------------------------+-------------------+----------------------------------------------------------------------+
|              created_at|                 id|                                                                  text|
+------------------------+-------------------+----------------------------------------------------------------------+
|2021-05-08T21:00:00.000Z|1391135820371931137|#Cuba relatou mais de 1.000 novas infecções por #COVID-19 pelo terc...|
|2021-05-08T20:30:00.000Z|1391128270721241089|A #Argentina relatou na quinta-feira 24.086 novas infecções por #CO...|
|2021-05-08T20:02:15.000Z|1391121287343452165|#COVID: #NUOVA #ONDATA di #CONTAGI entro #FINE #MAGGIO, #ESTATE a #...|
|2021-05-08T19:45:52.000Z|1391117164141219840|Estado de São Paulo ultrapassa 100 mil mortes por covid-19\n\n#SP #...|
|2021-05-08T18:30:00.000Z|1391098071388332039|A Organização Mundial da Saúde (#OMS) validou nesta sexta-feira par...|
|2021-05-08T17:53:52.000Z|1391088980268134402|‘Banco do crime’ é suspeito de lavar dinheiro da Covid no Rio #Banc...|
|2021-05-08T17:25:00.000Z|1391081713661399043|A série de webinários intitulada "Cooperação Internacional na Medic...|
|2021-05-08T15:39:14.000Z|1391055096482607105|Com a pandemia de #Covid e o consequente isolamento social, a violê...|
|2021-05-08T14:53:04.000Z|1391043478709227524|Índia supera 4.000 mortes diárias por covid e debate sobre patentes...|
|2021-05-08T14:00:00.000Z|1391030126507216901|Este será nosso segundo Dia das Mães marcado pela #covid. Embora a ...|
|2021-05-08T11:49:33.000Z|1390997297115406337|O #PapaFrancisco enviou uma videomensagem para o #VaxLive", evento ...|
|2021-05-08T10:57:59.000Z|1390984320735719424|No #CidadeseSoluções deste domingo, saiba por que o desmatamento, o...|
|2021-05-08T00:27:03.000Z|1390825540177866754|Projeto da legenda aguarda análise na Comissão de Seguridade Social...|
|2021-05-08T00:12:43.000Z|1390821930815610880|Projeto da legenda aguarda análise na Comissão de Seguridade Social...|
|2021-05-07T23:33:44.000Z|1390812122217652230|Ibuprofeno não agrava infecção por covid-19, aponta estudo\n\n#covi...|
|2021-05-07T22:46:15.000Z|1390800170162479106|🦠 Brasil confirma 419 mil mortes por #covid-19; são 2.165 em 24 ho...|
|2021-05-07T22:36:11.000Z|1390797638203842561|⚡️A operação policial mais letal da história do Rio de Janeiro. O a...|
|2021-05-07T22:06:42.000Z|1390790216974323720|Covid: Sérvia vai pagar R$160 a cidadãos que se vacinarem\n#Covid #...|
|2021-05-07T21:07:46.000Z|1390775389220450305|Covid-19: PF investiga desvio de ‘kit intubação’ no Amapá\n#Covid #...|
|2021-05-07T20:03:48.000Z|1390759291209097219|Com as liberações por muitos lados, teremos novos fechamentos daqui...|
+------------------------+-------------------+----------------------------------------------------------------------+
only showing top 20 rows

In [ ]:
df_json_spark_data.printSchema()

root
 |-- created_at: string (nullable = true)
 |-- id: string (nullable = true)
 |-- text: string (nullable = true)

Podemos fazer o mesmo com a coluna meta:

In [ ]:
df_json_spark_meta = spark.read.json(df_json_spark2.select("meta").rdd.map(lambda x: x[0]))

In [ ]:
df_json_spark_meta.show()

+-------------------+-------------------+------------+
|          newest_id|          oldest_id|result_count|
+-------------------+-------------------+------------+
|1391135820371931137|1388825883365060615|         130|
+-------------------+-------------------+------------+

In [ ]:
df_json_spark_meta.printSchema()

root
 |-- newest_id: string (nullable = true)
 |-- oldest_id: string (nullable = true)
 |-- result_count: long (nullable = true)

#### Alterar dados do dataframe para salvar novo JSON

In [ ]:
from pyspark.sql.functions import when

In [ ]:
df_json_spark_meta = df_json_spark_meta \
  .withColumn("result_count", 
              col("result_count")-col("result_count") + 2) \
  .withColumn("oldest_id", 
              when(col("newest_id") == "1391135820371931137" , "1391128270721241089")\
              .otherwise(col("oldest_id")))

In [ ]:
df_json_spark_meta.show(truncate=70)

+-------------------+-------------------+------------+
|          newest_id|          oldest_id|result_count|
+-------------------+-------------------+------------+
|1391135820371931137|1391128270721241089|           2|
+-------------------+-------------------+------------+

In [ ]:
df_json_spark_data = df_json_spark_data.limit(2)
df_json_spark_data.show()

+--------------------+-------------------+--------------------+
|          created_at|                 id|                text|
+--------------------+-------------------+--------------------+
|2021-05-08T21:00:...|1391135820371931137|#Cuba relatou mai...|
|2021-05-08T20:30:...|1391128270721241089|A #Argentina rela...|
+--------------------+-------------------+--------------------+

#### Persistindo aqui: JSON com SPARK

Podemos salvar os dados diretamente em uma pasta com cada dataframe em um arquivo JSON:

In [ ]:
df_json_spark_meta.write.json("json_from_spark")
df_json_spark_data.write.mode("Append").json("json_from_spark")

In [ ]:
!cat /content/json_from_spark/part-*.json

{"newest_id":"1391135820371931137","oldest_id":"1391128270721241089","result_count":2}
{"created_at":"2021-05-08T21:00:00.000Z","id":"1391135820371931137","text":"#Cuba relatou mais de 1.000 novas infecções por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Ministério da Saúde Pública, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\n\nhttps://t.co/U05loLcfTH https://t.co/ahLZ9IrxOD"}
{"created_at":"2021-05-08T20:30:00.000Z","id":"1391128270721241089","text":"A #Argentina relatou na quinta-feira 24.086 novas infecções por #COVID-19 e 399 mortes nas últimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\n\nhttps://t.co/xZKWs97L3S https://t.co/WIZbblWMI7"}

In [ ]:
!ls /content/json_from_spark/*.json

/content/json_from_spark/part-00000-8973de03-3b7d-4857-bef1-42a7929175e4-c000.json
/content/json_from_spark/part-00000-c71f84a5-b76c-4b28-90fe-e29e520685b3-c000.json

Ou podemos formatar nossa saída JSON antes de salvar o arquivo:

In [ ]:
# .toJSON() é um método spark que converte cada linha em uma string json e as coloca em uma lista.
df_json_spark_data.toJSON().collect()

['{"created_at":"2021-05-08T21:00:00.000Z","id":"1391135820371931137","text":"#Cuba relatou mais de 1.000 novas infecções por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Ministério da Saúde Pública, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\\n\\nhttps://t.co/U05loLcfTH https://t.co/ahLZ9IrxOD"}',
 '{"created_at":"2021-05-08T20:30:00.000Z","id":"1391128270721241089","text":"A #Argentina relatou na quinta-feira 24.086 novas infecções por #COVID-19 e 399 mortes nas últimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\\n\\nhttps://t.co/xZKWs97L3S https://t.co/WIZbblWMI7"}']

In [ ]:
# Podemos usar o list comprehension do Python para converter cada string da lista em um dicionário com auxílio da biblioteca json.
[json.loads(x) for x in df_json_spark_data.toJSON().collect()]

[{'created_at': '2021-05-08T21:00:00.000Z',
  'id': '1391135820371931137',
  'text': '#Cuba relatou mais de 1.000 novas infecções por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Ministério da Saúde Pública, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\n\nhttps://t.co/U05loLcfTH https://t.co/ahLZ9IrxOD'},
 {'created_at': '2021-05-08T20:30:00.000Z',
  'id': '1391128270721241089',
  'text': 'A #Argentina relatou na quinta-feira 24.086 novas infecções por #COVID-19 e 399 mortes nas últimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\n\nhttps://t.co/xZKWs97L3S https://t.co/WIZbblWMI7'}]

In [ ]:
# Por fim, criamos um dicionário que contenha os outros dois dicionários como valores das chaves data e meta:
dicionario_json = {"data": [json.loads(x) for x in df_json_spark_data.toJSON().collect()], "meta":json.loads(df_json_spark_meta.toJSON().collect()[0])}
string_json = json.dumps(dicionario_json, indent = 4)
print(string_json)

{
    "data": [
        {
            "created_at": "2021-05-08T21:00:00.000Z",
            "id": "1391135820371931137",
            "text": "#Cuba relatou mais de 1.000 novas infec\u00e7\u00f5es por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Minist\u00e9rio da Sa\u00fade P\u00fablica, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\n\nhttps://t.co/U05loLcfTH https://t.co/ahLZ9IrxOD"
        },
        {
            "created_at": "2021-05-08T20:30:00.000Z",
            "id": "1391128270721241089",
            "text": "A #Argentina relatou na quinta-feira 24.086 novas infec\u00e7\u00f5es por #COVID-19 e 399 mortes nas \u00faltimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\n\nhttps://t.co/xZKWs97L3S https://t.co/WIZbblWMI7"
        }
    ],
    "meta": {
        "newest_id": "1391135820371931137",
        "oldest_id": "1391128270721241089",
        "result_count": 2
    }
}

Para salvar, fazemos o mesmo que fizemos com o arquivo JSON do PANDAS:

In [ ]:
with open('dois_tweets_spark.json', 'w+', encoding='utf-8') as arquivo_aberto:
    json.dump(dicionario_json, arquivo_aberto, ensure_ascii=False, indent = 4)

In [ ]:
!cat dois_tweets_spark.json

{
    "data": [
        {
            "created_at": "2021-05-08T21:00:00.000Z",
            "id": "1391135820371931137",
            "text": "#Cuba relatou mais de 1.000 novas infecções por #COVID-19 pelo terceiro dia consecutivo, com 1.060 casos, totalizando 112.714, afirmou o Ministério da Saúde Pública, acrescentando que houve outras sete mortes relatadas, elevando o total para 701.\n\nhttps://t.co/U05loLcfTH https://t.co/ahLZ9IrxOD"
        },
        {
            "created_at": "2021-05-08T20:30:00.000Z",
            "id": "1391128270721241089",
            "text": "A #Argentina relatou na quinta-feira 24.086 novas infecções por #COVID-19 e 399 mortes nas últimas 24 horas, elevando a contagem para 3.095.582 casos e 66.263 mortes.\n\nhttps://t.co/xZKWs97L3S https://t.co/WIZbblWMI7"
        }
    ],
    "meta": {
        "newest_id": "1391135820371931137",
        "oldest_id": "1391128270721241089",
        "result_count": 2
    }
}

## Leitura e gravação de arquivos CSV e PARQUET com Pandas

### CSV com PANDAS

In [ ]:
# Ler arquivo CSV com PANDAS:
pddf_csv = pd.read_csv('imdb-reviews-pt-br-pequeno.csv')
pddf_csv.head()

,text_en,text_pt,sentiment
0,Once again Mr. Costner has dragged out a movie...,"Mais uma vez, o Sr. Costner arrumou um filme p...",neg
1,This is an example of why the majority of acti...,Este é um exemplo do motivo pelo qual a maiori...,neg
2,"First of all I hate those moronic rappers, who...","Primeiro de tudo eu odeio esses raps imbecis, ...",neg
3,Not even the Beatles could write songs everyon...,Nem mesmo os Beatles puderam escrever músicas ...,neg
4,Brass pictures movies is not a fitting word fo...,Filmes de fotos de latão não é uma palavra apr...,neg

#### Alterar dados do dataframe para salvar em CSV

In [ ]:
# Criar novo dataframe apenas com 10 exemplos positivos e 10 negativos e retirar coluna de textox em inglês
pddf_csv_pos = pddf_csv[pddf_csv['sentiment'] == 'pos'].head(10).copy()
pddf_csv_pos = pddf_csv_pos[['text_pt', 'sentiment']]
pddf_csv_pos.head()

                                                text_pt sentiment
5000  Eu fui e vi este filme ontem à noite depois de...       pos
5001  O diretor do ator, Bill Paxton, segue sua prom...       pos
5002  Como um jogador de recreio com algum conhecime...       pos
5003  Eu vi esse filme em uma prévia, e é delicioso....       pos
5004  Bill Paxton levou a verdadeira história do gol...       pos

In [ ]:
# Criar novo dataframe apenas com 10 exemplos positivos e 10 negativos e retirar coluna de textox em inglês
pddf_csv_neg = pddf_csv[pddf_csv['sentiment'] == 'neg'].head(10).copy()
pddf_csv_neg = pddf_csv_neg[['text_pt', 'sentiment']]
pddf_csv_neg.head()

                                             text_pt sentiment
0  Mais uma vez, o Sr. Costner arrumou um filme p...       neg
1  Este é um exemplo do motivo pelo qual a maiori...       neg
2  Primeiro de tudo eu odeio esses raps imbecis, ...       neg
3  Nem mesmo os Beatles puderam escrever músicas ...       neg
4  Filmes de fotos de latão não é uma palavra apr...       neg

In [ ]:
# Unir os dataframes
pddf_csv_pos = pddf_csv_pos.reset_index(drop=True)
pddf_csv_neg = pddf_csv_neg.reset_index(drop=True)
pddf_csv_final = pd.concat([pddf_csv_pos, pddf_csv_neg],axis = 0)
pddf_csv_final = pddf_csv_final.reset_index(drop=True)

Outra forma:

In [ ]:
# De forma mais direta, com auxílio da biblioteca numpy:
import pandas as pd
import numpy as np
pddf_csv = pd.read_csv('imdb-reviews-pt-br-pequeno.csv')
pddf_csv_final = pd.DataFrame()
for sentimento in np.unique(pddf_csv['sentiment']):
  pddf_csv_final = pd.concat([pddf_csv_final, pddf_csv[['text_pt', 'sentiment']].apply(lambda linha: linha[pddf_csv['sentiment'].isin([sentimento])]).head(3)], axis = 0)

pddf_csv_final = pddf_csv_final.reset_index(drop=True)
pddf_csv_final

                                             text_pt sentiment
0  Mais uma vez, o Sr. Costner arrumou um filme p...       neg
1  Este é um exemplo do motivo pelo qual a maiori...       neg
2  Primeiro de tudo eu odeio esses raps imbecis, ...       neg
3  Eu fui e vi este filme ontem à noite depois de...       pos
4  O diretor do ator, Bill Paxton, segue sua prom...       pos
5  Como um jogador de recreio com algum conhecime...       pos

#### Persistindo aqui: CSV com PANDAS

In [ ]:
#  Salvar em arquivo CSV
pddf_csv_final.to_csv('imdb-novo.csv',index = False)

### PARQUET com PANDAS

In [ ]:
# Importação com biblioteca Pandas
pddf_parquet = pd.read_parquet('foursquare_pairs.parquet')

#### Alterar dados do dataframe para salvar em PARQUET

In [ ]:
pddf_parquet.columns

Index(['id_1', 'name_1', 'latitude_1', 'longitude_1', 'address_1', 'city_1',
       'state_1', 'zip_1', 'country_1', 'url_1', 'phone_1', 'categories_1',
       'id_2', 'name_2', 'latitude_2', 'longitude_2', 'address_2', 'city_2',
       'state_2', 'zip_2', 'country_2', 'url_2', 'phone_2', 'categories_2',
       'match'],
      dtype='object')

In [ ]:
pddf_parquet.loc[2]

id_1                                       E_000023d8f4be44
name_1                                           Island Spa
latitude_1                                         14.51897
longitude_1                                      121.018702
address_1       5th Flr, Newport Mall, Resorts World Manila
city_1                                           Pasay City
state_1                                        Metro Manila
zip_1                                                  None
country_1                                                PH
url_1                                                  None
phone_1                                                None
categories_1                                           Spas
id_2                                       E_12453effe251db
name_2                                   Island Spa Theater
latitude_2                                         14.51833
longitude_2                                      121.019827
address_2                                              None
city_2                                                 None
state_2                                                None
zip_2                                                  None
country_2                                                PH
url_2                                                  None
phone_2                                                None
categories_2                                           Spas
match                                                  True
Name: 2, dtype: object

In [ ]:
pddf_parquet.head()

,id_1,name_1,latitude_1,longitude_1,address_1,city_1,state_1,zip_1,country_1,url_1,...,longitude_2,address_2,city_2,state_2,zip_2,country_2,url_2,phone_2,categories_2,match
0,E_000001272c6c5d,Café Stad Oudenaarde,50.859975,3.634196,Abdijstraat,Nederename,Oost-Vlaanderen,9700,BE,None,...,3.635206,None,None,None,None,BE,None,None,Bars,True
1,E_000008a8ba4f48,Turkcell,37.844510,27.844202,Adnan Menderes Bulvarı,None,None,None,TR,None,...,27.845560,batı aydın,aydın,None,67500,TR,None,None,Electronics Stores,False
2,E_000023d8f4be44,Island Spa,14.518970,121.018702,"5th Flr, Newport Mall, Resorts World Manila",Pasay City,Metro Manila,None,PH,None,...,121.019827,None,None,None,None,PH,None,None,Spas,True
3,E_00007dcd2bb53f,TOGO'S Sandwiches,38.257797,-122.064599,"1380 Holiday Ln., Ste. B",Fairfield,CA,94534,US,https://locations.togos.com/ll/US/CA/Fairfield...,...,-122.064606,None,Fairfield,CA,None,US,None,None,Sandwich Places,True
4,E_0000c362229d93,Coffee Cat,7.082218,125.610244,F. Torres St.,Davao City,Davao Region,8000,PH,None,...,125.611457,E. Jacinto Extension,Davao City,Davao Region,8000,PH,None,None,"Coffee Shops, Cafés, Dessert Shops",False

In [ ]:
pddf_parquet_alterado = pddf_parquet[["id_1", "name_1"]].tail(10).reset_index(drop=True)
pddf_parquet_alterado

               id_1                                name_1
0  E_fffebfdf9be4cc                              во дворе
1  E_fffebfdf9be4cc                              во дворе
2  E_ffff2b8abf31ab                        La Tagliatella
3  E_ffff59c16a4c36                             Walgreens
4  E_ffff7b1a22e81b                              Sorrento
5  E_ffff80f94b2fee              Blk 332 Hougang Avenue 5
6  E_ffff8cc1b92ab3                          Fawsley Hall
7  E_ffff989ae206f8  Cricket Wireless Authorized Retailer
8  E_ffffca745329ed                                 焼肉 和家
9  E_ffffe6f4652fbb                           Waihi Beach

#### Persistindo aqui: PARQUET com PANDAS

In [ ]:
pddf_parquet_alterado.to_parquet("novo_parquet.parquet")

In [ ]:
!cat novo_parquet.parquet

焼肉 和家Blk 332 Hougang Avenue 5 ,     �&�  ,pandas�{"index_columns": [{"kind": "range", "name": null, "start": 0, "stop": 10, "step": 1}], "column_indexes": [{"name": null, "field_name": null, "pandas_type": "unicode", "numpy_type": "object", "metadata": {"encoding": "UTF-8"}}], "columns": [{"name": "id_1", "field_name": "id_1", "pandas_type": "unicode", "numpy_type": "object", "metadata": null}, {"name": "name_1", "field_name": "name_1", "pandas_type": "unicode", "numpy_type": "object", "metadata": null}], "creator": {"library": "pyarrow", "version": "6.0.1"}, "pandas_version": "1.3.5"} ARROW:schema�//////ACAAAQAAAAAAAKAA4ABgAFAAgACgAAAAABBAAQAAAAAAAKAAwAAAAEAAgACgAAAFQCAAAEAAAAAQAAAAwAAAAIAAwABAAIAAgAAAAIAAAAEAAAAAYAAABwYW5kYXMAAB8CAAB7ImluZGV4X2NvbHVtbnMiOiBbeyJraW5kIjogInJhbmdlIiwgIm5hbWUiOiBudWxsLCAic3RhcnQiOiAwLCAic3RvcCI6IDEwLCAic3RlcCI6IDF9XSwgImNvbHVtbl9pbmRleGVzIjogW3sibmFtZSI6IG51bGwsICJmaWVsZF9uYW1lIjogbnVsbCwgInBhbmRhc190eXBlIjogInVuaWNvZGUiLCAibnVtcHlfdHlwZSI6ICJvYmplY3QiLCAibWV0YWRhdGEiOiB7ImVuY29kaW5nIjogIlVURi04In19XSwgImNvbHVtbnMiOiBbeyJuYW1lIjogImlkXzEiLCAiZmllbGRfbmFtZSI6ICJpZF8xIiwgInBhbmRhc190eXBlIjogInVuaWNvZGUiLCAibnVtcHlfdHlwZSI6ICJvYmplY3QiLCAibWV0YWRhdGEiOiBudWxsfSwgeyJuYW1lIjogIm5hbWVfMSIsICJmaWVsZF9uYW1lIjogIm5hbWVfMSIsICJwYW5kYXNfdHlwZSI6ICJ1bmljb2RlIiwgIm51bXB5X3R5cGUiOiAib2JqZWN0IiwgIm1ldGFkYXRhIjogbnVsbH1dLCAiY3JlYXRvciI6IHsibGlicmFyeSI6ICJweWFycm93IiwgInZlcnNpb24iOiAiNi4wLjEifSwgInBhbmRhc192ZXJzaW9uIjogIjEuMy41In0AAgAAAEAAAAAEAAAA2P///wAAAQUQAAAAGAAAAAQAAAAAAAAABgAAAG5hbWVfMQAAyP///xAAFAAIAAYABwAMAAAAEAAQAAAAAAABBRAAAAAcAAAABAAAAAAAAAAEAAAAaWRfMQAAAAAEAAQABAAAAA== parquet-cpp-arrow version 6.0.1,     g  PAR1

In [ ]:
pd.read_parquet('novo_parquet.parquet')

               id_1                                name_1
0  E_fffebfdf9be4cc                              во дворе
1  E_fffebfdf9be4cc                              во дворе
2  E_ffff2b8abf31ab                        La Tagliatella
3  E_ffff59c16a4c36                             Walgreens
4  E_ffff7b1a22e81b                              Sorrento
5  E_ffff80f94b2fee              Blk 332 Hougang Avenue 5
6  E_ffff8cc1b92ab3                          Fawsley Hall
7  E_ffff989ae206f8  Cricket Wireless Authorized Retailer
8  E_ffffca745329ed                                 焼肉 和家
9  E_ffffe6f4652fbb                           Waihi Beach

## Conexão com banco de dados SQLite

In [ ]:
import sqlite3
conn = sqlite3.connect("loja.db")
print(sqlite3.version)

2.6.0

Criar cursor para executar comandos sql no banco e recuperar dados

In [ ]:
cur = conn.cursor()

Mostrar tabelas do banco:

In [ ]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

[('CARRO',), ('sqlite_sequence',), ('CLIENTE',), ('COMBUSTIVEL',), ('FABRICANTE',), ('MODELO',), ('PAIS',), ('VENDA',), ('VENDEDOR',)]

Mostrar lista de carros da loja utilizando o cursor

In [ ]:
cur.execute("SELECT * FROM carro;")
df = pd.DataFrame(cur.fetchall())
df

     0   1       2         3     4       5         6  7
0    1  12  150000    Branco  2017   17000  AXQ-1234  1
1    2  13  180000      Azul  2021    5000  AAA-1111  1
2    3  12  220000     Preto  2022       0  ABC-1234  1
3    4  13  360000     Preto  2022       0  ABC-2222  1
4    5   2   12000  Vermelho  2004  290000  QQQ-1111  1
5    6  14   95000      Azul  2018   50000  BBB-1234  1
6    7  15  115000     Prata  2015   90000  CCC-1111  1
7    8  11   50000     Verde  1994  999500  CAB-4321  1
8    9  14   90000     Preto  2021   50000  CBD-1234  1
9   10  14   92000     Prata  2020   40000  CBC-1234  1
10  11  14  105000  Vermelho  2022       0  CBB-1234  1
11  12  13  240000     Verde  2019   45000  CBA-1234  1
12  13  13  180000   Amarelo  2015   80000  CBE-1234  1
13  14  16   91000  Vermelho  2022       0  ZYX-1234  1
14  15  18  120000    Branco  2022       0  ZYX-4321  1
15  16  12   92000     Prata  2021  148000  AAA-9876  1

Criar dataframe diretamente dos dados do banco com PANDAS:

In [ ]:
pd.read_sql_query("SELECT * from carro", conn)

    Idcarro  Id_modelo   Valor       Cor   Ano      Km     Placa  Quantidade
0         1         12  150000    Branco  2017   17000  AXQ-1234           1
1         2         13  180000      Azul  2021    5000  AAA-1111           1
2         3         12  220000     Preto  2022       0  ABC-1234           1
3         4         13  360000     Preto  2022       0  ABC-2222           1
4         5          2   12000  Vermelho  2004  290000  QQQ-1111           1
5         6         14   95000      Azul  2018   50000  BBB-1234           1
6         7         15  115000     Prata  2015   90000  CCC-1111           1
7         8         11   50000     Verde  1994  999500  CAB-4321           1
8         9         14   90000     Preto  2021   50000  CBD-1234           1
9        10         14   92000     Prata  2020   40000  CBC-1234           1
10       11         14  105000  Vermelho  2022       0  CBB-1234           1
11       12         13  240000     Verde  2019   45000  CBA-1234           1
12       13         13  180000   Amarelo  2015   80000  CBE-1234           1
13       14         16   91000  Vermelho  2022       0  ZYX-1234           1
14       15         18  120000    Branco  2022       0  ZYX-4321           1
15       16         12   92000     Prata  2021  148000  AAA-9876           1

In [ ]:
cur.execute("PRAGMA table_info(carro);")
colunas = cur.fetchall()
colunas

[(0, 'Idcarro', 'integer', 1, None, 1),
 (1, 'Id_modelo', 'integer', 1, None, 0),
 (2, 'Valor', 'decimal(10,2)', 1, None, 0),
 (3, 'Cor', 'varchar(45)', 1, None, 0),
 (4, 'Ano', 'integer', 1, None, 0),
 (5, 'Km', 'integer', 1, None, 0),
 (6, 'Placa', 'varchar(45)', 1, None, 0),
 (7, 'Quantidade', 'integer', 1, None, 0)]

Salvar um novo dado na tabela carro do banco:

In [ ]:
nova_linha = {colunas[0][1]:17,
              colunas[1][1]:2, 
              colunas[2][1]:54000,
              colunas[3][1]:'Preto',
              colunas[4][1]:2015,
              colunas[5][1]:121556,
              colunas[6][1]:'DDD-0012',
              colunas[7][1]:1}
nova_linha

{'Ano': 2015,
 'Cor': 'Preto',
 'Id_modelo': 2,
 'Idcarro': 17,
 'Km': 121556,
 'Placa': 'DDD-0012',
 'Quantidade': 1,
 'Valor': 54000}

In [ ]:
list(nova_linha.values())

[17, 2, 54000, 'Preto', 2015, 121556, 'DDD-0012', 1]

In [ ]:
sql = ''' INSERT INTO carro VALUES(?, ?, ?, ?, ?, ?, ?, ?) '''

In [ ]:
cur.execute(sql, list(nova_linha.values()))

In [ ]:
pd.read_sql_query("SELECT * from carro WHERE Idcarro = 17", conn)

   Idcarro  Id_modelo  Valor    Cor   Ano      Km     Placa  Quantidade
0       17          2  54000  Preto  2015  121556  DDD-0012           1

In [ ]:
pd.read_sql_query("SELECT Modelo, Potencia, Tracao, fabricante.nome as Fabricante, Valor, Cor, Ano, Km, Placa, Quantidade \
                    FROM carro LEFT JOIN modelo ON carro.Id_modelo = modelo.idmodelo \
                    LEFT JOIN fabricante ON modelo.Id_fabricante = fabricante.Idfabricante \
                    WHERE Idcarro = 17", conn)

,Modelo,Potencia,Tracao,Fabricante,Valor,Cor,Ano,Km,Placa,Quantidade
0,gol,75,dianteria,volkswagen,54000,Preto,2015,121556,DDD-0012,1

In [ ]:
conn.commit()

É importante sempre fechar a conexão após finalizar a consulta ao banco de dados!

In [ ]:
conn.close()

## Persistindo lá: APIs REST
Consumo de API e Rest Requests.

Para nossos testes, vamos usar a API REST FAKE de testes em: https://jsonplaceholder.typicode.com/

Exemplo de acesso a API REST - GET

In [ ]:
import requests
import http.client
from urllib.parse import urlencode

payload = {'mensagem': 'Olá! Esta mensagem deverá ser recebida de volta'}

response_get = requests.get('https://httpbin.org/get', params=payload)
response_get.json()

{'args': {'mensagem': 'Olá! Esta mensagem deverá ser recebida de volta'},
 'headers': {'Accept': '*/*',
  'Accept-Encoding': 'gzip, deflate',
  'Host': 'httpbin.org',
  'User-Agent': 'python-requests/2.23.0',
  'X-Amzn-Trace-Id': 'Root=1-62d60178-1263ae356463c934664b9513'},
 'origin': '34.73.143.111',
 'url': 'https://httpbin.org/get?mensagem=Olá!+Esta+mensagem+deverá+ser+recebida+de+volta'}

In [ ]:
df = pd.DataFrame(response_get.json())

In [ ]:
df

,args,headers,origin,url
mensagem,Olá! Esta mensagem deverá ser recebida de volta,NaN,34.73.143.111,https://httpbin.org/get?mensagem=Olá!+Esta+men...
Accept,NaN,*/*,34.73.143.111,https://httpbin.org/get?mensagem=Olá!+Esta+men...
Accept-Encoding,NaN,"gzip, deflate",34.73.143.111,https://httpbin.org/get?mensagem=Olá!+Esta+men...
Host,NaN,httpbin.org,34.73.143.111,https://httpbin.org/get?mensagem=Olá!+Esta+men...
User-Agent,NaN,python-requests/2.23.0,34.73.143.111,https://httpbin.org/get?mensagem=Olá!+Esta+men...
X-Amzn-Trace-Id,NaN,Root=1-62d5ea03-6d991bad35badefa411c6f5e,34.73.143.111,https://httpbin.org/get?mensagem=Olá!+Esta+men...

Da API fake de testes:

In [ ]:
# para vários:
url_da_api = 'https://jsonplaceholder.typicode.com/todos/'

response_get = requests.get(url_da_api)
response_get.json()

[{'completed': False, 'id': 1, 'title': 'delectus aut autem', 'userId': 1},
 {'completed': False,
  'id': 2,
  'title': 'quis ut nam facilis et officia qui',
  'userId': 1},
 {'completed': False, 'id': 3, 'title': 'fugiat veniam minus', 'userId': 1},
 {'completed': True, 'id': 4, 'title': 'et porro tempora', 'userId': 1},
 {'completed': False,
  'id': 5,
  'title': 'laboriosam mollitia et enim quasi adipisci quia provident illum',
  'userId': 1},
 {'completed': False,
  'id': 6,
  'title': 'qui ullam ratione quibusdam voluptatem quia omnis',
  'userId': 1},
 {'completed': False,
  'id': 7,
  'title': 'illo expedita consequatur quia in',
  'userId': 1},
 {'completed': True,
  'id': 8,
  'title': 'quo adipisci enim quam ut ab',
  'userId': 1},
 {'completed': False,
  'id': 9,
  'title': 'molestiae perspiciatis ipsa',
  'userId': 1},
 {'completed': True,
  'id': 10,
  'title': 'illo est ratione doloremque quia maiores aut',
  'userId': 1},
 {'completed': True,
  'id': 11,
  'title': 'vero rerum temporibus dolor',
  'userId': 1},
 {'completed': True,
  'id': 12,
  'title': 'ipsa repellendus fugit nisi',
  'userId': 1},
 {'completed': False, 'id': 13, 'title': 'et doloremque nulla', 'userId': 1},
 {'completed': True,
  'id': 14,
  'title': 'repellendus sunt dolores architecto voluptatum',
  'userId': 1},
 {'completed': True,
  'id': 15,
  'title': 'ab voluptatum amet voluptas',
  'userId': 1},
 {'completed': True,
  'id': 16,
  'title': 'accusamus eos facilis sint et aut voluptatem',
  'userId': 1},
 {'completed': True,
  'id': 17,
  'title': 'quo laboriosam deleniti aut qui',
  'userId': 1},
 {'completed': False,
  'id': 18,
  'title': 'dolorum est consequatur ea mollitia in culpa',
  'userId': 1},
 {'completed': True,
  'id': 19,
  'title': 'molestiae ipsa aut voluptatibus pariatur dolor nihil',
  'userId': 1},
 {'completed': True,
  'id': 20,
  'title': 'ullam nobis libero sapiente ad optio sint',
  'userId': 1},
 {'completed': False,
  'id': 21,
  'title': 'suscipit repellat esse quibusdam voluptatem incidunt',
  'userId': 2},
 {'completed': True,
  'id': 22,
  'title': 'distinctio vitae autem nihil ut molestias quo',
  'userId': 2},
 {'completed': False,
  'id': 23,
  'title': 'et itaque necessitatibus maxime molestiae qui quas velit',
  'userId': 2},
 {'completed': False,
  'id': 24,
  'title': 'adipisci non ad dicta qui amet quaerat doloribus ea',
  'userId': 2},
 {'completed': True,
  'id': 25,
  'title': 'voluptas quo tenetur perspiciatis explicabo natus',
  'userId': 2},
 {'completed': True, 'id': 26, 'title': 'aliquam aut quasi', 'userId': 2},
 {'completed': True,
  'id': 27,
  'title': 'veritatis pariatur delectus',
  'userId': 2},
 {'completed': False,
  'id': 28,
  'title': 'nesciunt totam sit blanditiis sit',
  'userId': 2},
 {'completed': False, 'id': 29, 'title': 'laborum aut in quam', 'userId': 2},
 {'completed': True,
  'id': 30,
  'title': 'nemo perspiciatis repellat ut dolor libero commodi blanditiis omnis',
  'userId': 2},
 {'completed': False,
  'id': 31,
  'title': 'repudiandae totam in est sint facere fuga',
  'userId': 2},
 {'completed': False,
  'id': 32,
  'title': 'earum doloribus ea doloremque quis',
  'userId': 2},
 {'completed': False, 'id': 33, 'title': 'sint sit aut vero', 'userId': 2},
 {'completed': False,
  'id': 34,
  'title': 'porro aut necessitatibus eaque distinctio',
  'userId': 2},
 {'completed': True,
  'id': 35,
  'title': 'repellendus veritatis molestias dicta incidunt',
  'userId': 2},
 {'completed': True,
  'id': 36,
  'title': 'excepturi deleniti adipisci voluptatem et neque optio illum ad',
  'userId': 2},
 {'completed': False, 'id': 37, 'title': 'sunt cum tempora', 'userId': 2},
 {'completed': False, 'id': 38, 'title': 'totam quia non', 'userId': 2},
 {'completed': False,
  'id': 39,
  'title': 'doloremque quibusdam asperiores libero corrupti illum qui omnis',
  'userId': 2},
 {'completed': True,
  'id': 40,
  'title': 'totam atque quo nesciunt',
  'userId': 2},
 {'completed': False,
  'id': 41,
  'title': 'aliquid amet impedit consequatur aspernatur placeat eaque fugiat suscipit',
  'userId': 3},
 {'completed': False,
  'id': 42,
  'title': 'rerum perferendis error quia ut eveniet',
  'userId': 3},
 {'completed': True,
  'id': 43,
  'title': 'tempore ut sint quis recusandae',
  'userId': 3},
 {'completed': True,
  'id': 44,
  'title': 'cum debitis quis accusamus doloremque ipsa natus sapiente omnis',
  'userId': 3},
 {'completed': False,
  'id': 45,
  'title': 'velit soluta adipisci molestias reiciendis harum',
  'userId': 3},
 {'completed': False,
  'id': 46,
  'title': 'vel voluptatem repellat nihil placeat corporis',
  'userId': 3},
 {'completed': False,
  'id': 47,
  'title': 'nam qui rerum fugiat accusamus',
  'userId': 3},
 {'completed': False,
  'id': 48,
  'title': 'sit reprehenderit omnis quia',
  'userId': 3},
 {'completed': False,
  'id': 49,
  'title': 'ut necessitatibus aut maiores debitis officia blanditiis velit et',
  'userId': 3},
 {'completed': True,
  'id': 50,
  'title': 'cupiditate necessitatibus ullam aut quis dolor voluptate',
  'userId': 3},
 {'completed': False,
  'id': 51,
  'title': 'distinctio exercitationem ab doloribus',
  'userId': 3},
 {'completed': False,
  'id': 52,
  'title': 'nesciunt dolorum quis recusandae ad pariatur ratione',
  'userId': 3},
 {'completed': False,
  'id': 53,
  'title': 'qui labore est occaecati recusandae aliquid quam',
  'userId': 3},
 {'completed': True,
  'id': 54,
  'title': 'quis et est ut voluptate quam dolor',
  'userId': 3},
 {'completed': True,
  'id': 55,
  'title': 'voluptatum omnis minima qui occaecati provident nulla voluptatem ratione',
  'userId': 3},
 {'completed': True,
  'id': 56,
  'title': 'deleniti ea temporibus enim',
  'userId': 3},
 {'completed': False,
  'id': 57,
  'title': 'pariatur et magnam ea doloribus similique voluptatem rerum quia',
  'userId': 3},
 {'completed': False,
  'id': 58,
  'title': 'est dicta totam qui explicabo doloribus qui dignissimos',
  'userId': 3},
 {'completed': False,
  'id': 59,
  'title': 'perspiciatis velit id laborum placeat iusto et aliquam odio',
  'userId': 3},
 {'completed': True,
  'id': 60,
  'title': 'et sequi qui architecto ut adipisci',
  'userId': 3},
 {'completed': True,
  'id': 61,
  'title': 'odit optio omnis qui sunt',
  'userId': 4},
 {'completed': False,
  'id': 62,
  'title': 'et placeat et tempore aspernatur sint numquam',
  'userId': 4},
 {'completed': True,
  'id': 63,
  'title': 'doloremque aut dolores quidem fuga qui nulla',
  'userId': 4},
 {'completed': False,
  'id': 64,
  'title': 'voluptas consequatur qui ut quia magnam nemo esse',
  'userId': 4},
 {'completed': False,
  'id': 65,
  'title': 'fugiat pariatur ratione ut asperiores necessitatibus magni',
  'userId': 4},
 {'completed': False,
  'id': 66,
  'title': 'rerum eum molestias autem voluptatum sit optio',
  'userId': 4},
 {'completed': False,
  'id': 67,
  'title': 'quia voluptatibus voluptatem quos similique maiores repellat',
  'userId': 4},
 {'completed': False,
  'id': 68,
  'title': 'aut id perspiciatis voluptatem iusto',
  'userId': 4},
 {'completed': False,
  'id': 69,
  'title': 'doloribus sint dolorum ab adipisci itaque dignissimos aliquam suscipit',
  'userId': 4},
 {'completed': False,
  'id': 70,
  'title': 'ut sequi accusantium et mollitia delectus sunt',
  'userId': 4},
 {'completed': False, 'id': 71, 'title': 'aut velit saepe ullam', 'userId': 4},
 {'completed': False,
  'id': 72,
  'title': 'praesentium facilis facere quis harum voluptatibus voluptatem eum',
  'userId': 4},
 {'completed': True,
  'id': 73,
  'title': 'sint amet quia totam corporis qui exercitationem commodi',
  'userId': 4},
 {'completed': False,
  'id': 74,
  'title': 'expedita tempore nobis eveniet laborum maiores',
  'userId': 4},
 {'completed': False,
  'id': 75,
  'title': 'occaecati adipisci est possimus totam',
  'userId': 4},
 {'completed': True, 'id': 76, 'title': 'sequi dolorem sed', 'userId': 4},
 {'completed': False,
  'id': 77,
  'title': 'maiores aut nesciunt delectus exercitationem vel assumenda eligendi at',
  'userId': 4},
 {'completed': False,
  'id': 78,
  'title': 'reiciendis est magnam amet nemo iste recusandae impedit quaerat',
  'userId': 4},
 {'completed': True, 'id': 79, 'title': 'eum ipsa maxime ut', 'userId': 4},
 {'completed': True,
  'id': 80,
  'title': 'tempore molestias dolores rerum sequi voluptates ipsum consequatur',
  'userId': 4},
 {'completed': True, 'id': 81, 'title': 'suscipit qui totam', 'userId': 5},
 {'completed': False,
  'id': 82,
  'title': 'voluptates eum voluptas et dicta',
  'userId': 5},
 {'completed': True,
  'id': 83,
  'title': 'quidem at rerum quis ex aut sit quam',
  'userId': 5},
 {'completed': False,
  'id': 84,
  'title': 'sunt veritatis ut voluptate',
  'userId': 5},
 {'completed': True, 'id': 85, 'title': 'et quia ad iste a', 'userId': 5},
 {'completed': True,
  'id': 86,
  'title': 'incidunt ut saepe autem',
  'userId': 5},
 {'completed': True,
  'id': 87,
  'title': 'laudantium quae eligendi consequatur quia et vero autem',
  'userId': 5},
 {'completed': False,
  'id': 88,
  'title': 'vitae aut excepturi laboriosam sint aliquam et et accusantium',
  'userId': 5},
 {'completed': True, 'id': 89, 'title': 'sequi ut omnis et', 'userId': 5},
 {'completed': True,
  'id': 90,
  'title': 'molestiae nisi accusantium tenetur dolorem et',
  'userId': 5},
 {'completed': True,
  'id': 91,
  'title': 'nulla quis consequatur saepe qui id expedita',
  'userId': 5},
 {'completed': True, 'id': 92, 'title': 'in omnis laboriosam', 'userId': 5},
 {'completed': True,
  'id': 93,
  'title': 'odio iure consequatur molestiae quibusdam necessitatibus quia sint',
  'userId': 5},
 {'completed': False,
  'id': 94,
  'title': 'facilis modi saepe mollitia',
  'userId': 5},
 {'completed': True,
  'id': 95,
  'title': 'vel nihil et molestiae iusto assumenda nemo quo ut',
  'userId': 5},
 {'completed': False,
  'id': 96,
  'title': 'nobis suscipit ducimus enim asperiores voluptas',
  'userId': 5},
 {'completed': False,
  'id': 97,
  'title': 'dolorum laboriosam eos qui iure aliquam',
  'userId': 5},
 {'completed': True,
  'id': 98,
  'title': 'debitis accusantium ut quo facilis nihil quis sapiente necessitatibus',
  'userId': 5},
 {'completed': False,
  'id': 99,
  'title': 'neque voluptates ratione',
  'userId': 5},
 {'completed': False,
  'id': 100,
  'title': 'excepturi a et neque qui expedita vel voluptate',
  'userId': 5},
 {'completed': False,
  'id': 101,
  'title': 'explicabo enim cumque porro aperiam occaecati minima',
  'userId': 6},
 {'completed': False, 'id': 102, 'title': 'sed ab consequatur', 'userId': 6},
 {'completed': False,
  'id': 103,
  'title': 'non sunt delectus illo nulla tenetur enim omnis',
  'userId': 6},
 {'completed': False,
  'id': 104,
  'title': 'excepturi non laudantium quo',
  'userId': 6},
 {'completed': True,
  'id': 105,
  'title': 'totam quia dolorem et illum repellat voluptas optio',
  'userId': 6},
 {'completed': True,
  'id': 106,
  'title': 'ad illo quis voluptatem temporibus',
  'userId': 6},
 {'completed': False,
  'id': 107,
  'title': 'praesentium facilis omnis laudantium fugit ad iusto nihil nesciunt',
  'userId': 6},
 {'completed': True,
  'id': 108,
  'title': 'a eos eaque nihil et exercitationem incidunt delectus',
  'userId': 6},
 {'completed': True,
  'id': 109,
  'title': 'autem temporibus harum quisquam in culpa',
  'userId': 6},
 {'completed': True, 'id': 110, 'title': 'aut aut ea corporis', 'userId': 6},
 {'completed': False,
  'id': 111,
  'title': 'magni accusantium labore et id quis provident',
  'userId': 6},
 {'completed': False,
  'id': 112,
  'title': 'consectetur impedit quisquam qui deserunt non rerum consequuntur eius',
  'userId': 6},
 {'completed': False,
  'id': 113,
  'title': 'quia atque aliquam sunt impedit voluptatum rerum assumenda nisi',
  'userId': 6},
 {'completed': False,
  'id': 114,
  'title': 'cupiditate quos possimus corporis quisquam exercitationem beatae',
  'userId': 6},
 {'completed': False, 'id': 115, 'title': 'sed et ea eum', 'userId': 6},
 {'completed': True,
  'id': 116,
  'title': 'ipsa dolores vel facilis ut',
  'userId': 6},
 {'completed': False,
  'id': 117,
  'title': 'sequi quae est et qui qui eveniet asperiores',
  'userId': 6},
 {'completed': False,
  'id': 118,
  'title': 'quia modi consequatur vero fugiat',
  'userId': 6},
 {'completed': False,
  'id': 119,
  'title': 'corporis ducimus ea perspiciatis iste',
  'userId': 6},
 {'completed': False,
  'id': 120,
  'title': 'dolorem laboriosam vel voluptas et aliquam quasi',
  'userId': 6},
 {'completed': True,
  'id': 121,
  'title': 'inventore aut nihil minima laudantium hic qui omnis',
  'userId': 7},
 {'completed': True,
  'id': 122,
  'title': 'provident aut nobis culpa',
  'userId': 7},
 {'completed': False,
  'id': 123,
  'title': 'esse et quis iste est earum aut impedit',
  'userId': 7},
 {'completed': False, 'id': 124, 'title': 'qui consectetur id', 'userId': 7},
 {'completed': False,
  'id': 125,
  'title': 'aut quasi autem iste tempore illum possimus',
  'userId': 7},
 {'completed': True,
  'id': 126,
  'title': 'ut asperiores perspiciatis veniam ipsum rerum saepe',
  'userId': 7},
 {'completed': True,
  'id': 127,
  'title': 'voluptatem libero consectetur rerum ut',
  'userId': 7},
 {'completed': False,
  'id': 128,
  'title': 'eius omnis est qui voluptatem autem',
  'userId': 7},
 {'completed': False,
  'id': 129,
  'title': 'rerum culpa quis harum',
  'userId': 7},
 {'completed': True,
  'id': 130,
  'title': 'nulla aliquid eveniet harum laborum libero alias ut unde',
  'userId': 7},
 {'completed': False, 'id': 131, 'title': 'qui ea incidunt quis', 'userId': 7},
 {'completed': True,
  'id': 132,
  'title': 'qui molestiae voluptatibus velit iure harum quisquam',
  'userId': 7},
 {'completed': True,
  'id': 133,
  'title': 'et labore eos enim rerum consequatur sunt',
  'userId': 7},
 {'completed': False,
  'id': 134,
  'title': 'molestiae doloribus et laborum quod ea',
  'userId': 7},
 {'completed': False,
  'id': 135,
  'title': 'facere ipsa nam eum voluptates reiciendis vero qui',
  'userId': 7},
 {'completed': False,
  'id': 136,
  'title': 'asperiores illo tempora fuga sed ut quasi adipisci',
  'userId': 7},
 {'completed': False, 'id': 137, 'title': 'qui sit non', 'userId': 7},
 {'completed': True,
  'id': 138,
  'title': 'placeat minima consequatur rem qui ut',
  'userId': 7},
 {'completed': False,
  'id': 139,
  'title': 'consequatur doloribus id possimus voluptas a voluptatem',
  'userId': 7},
 {'completed': True,
  'id': 140,
  'title': 'aut consectetur in blanditiis deserunt quia sed laboriosam',
  'userId': 7},
 {'completed': True,
  'id': 141,
  'title': 'explicabo consectetur debitis voluptates quas quae culpa rerum non',
  'userId': 8},
 {'completed': True,
  'id': 142,
  'title': 'maiores accusantium architecto necessitatibus reiciendis ea aut',
  'userId': 8},
 {'completed': False,
  'id': 143,
  'title': 'eum non recusandae cupiditate animi',
  'userId': 8},
 {'completed': False,
  'id': 144,
  'title': 'ut eum exercitationem sint',
  'userId': 8},
 {'completed': False,
  'id': 145,
  'title': 'beatae qui ullam incidunt voluptatem non nisi aliquam',
  'userId': 8},
 {'completed': True,
  'id': 146,
  'title': 'molestiae suscipit ratione nihil odio libero impedit vero totam',
  'userId': 8},
 {'completed': True,
  'id': 147,
  'title': 'eum itaque quod reprehenderit et facilis dolor autem ut',
  'userId': 8},
 {'completed': False,
  'id': 148,
  'title': 'esse quas et quo quasi exercitationem',
  'userId': 8},
 {'completed': False,
  'id': 149,
  'title': 'animi voluptas quod perferendis est',
  'userId': 8},
 {'completed': False,
  'id': 150,
  'title': 'eos amet tempore laudantium fugit a',
  'userId': 8},
 {'completed': True,
  'id': 151,
  'title': 'accusamus adipisci dicta qui quo ea explicabo sed vero',
  'userId': 8},
 {'completed': False,
  'id': 152,
  'title': 'odit eligendi recusandae doloremque cumque non',
  'userId': 8},
 {'completed': False,
  'id': 153,
  'title': 'ea aperiam consequatur qui repellat eos',
  'userId': 8},
 {'completed': True, 'id': 154, 'title': 'rerum non ex sapiente', 'userId': 8},
 {'completed': True,
  'id': 155,
  'title': 'voluptatem nobis consequatur et assumenda magnam',
  'userId': 8},
 {'completed': True,
  'id': 156,
  'title': 'nam quia quia nulla repellat assumenda quibusdam sit nobis',
  'userId': 8},
 {'completed': True,
  'id': 157,
  'title': 'dolorem veniam quisquam deserunt repellendus',
  'userId': 8},
 {'completed': True,
  'id': 158,
  'title': 'debitis vitae delectus et harum accusamus aut deleniti a',
  'userId': 8},
 {'completed': True,
  'id': 159,
  'title': 'debitis adipisci quibusdam aliquam sed dolore ea praesentium nobis',
  'userId': 8},
 {'completed': False,
  'id': 160,
  'title': 'et praesentium aliquam est',
  'userId': 8},
 {'completed': True,
  'id': 161,
  'title': 'ex hic consequuntur earum omnis alias ut occaecati culpa',
  'userId': 9},
 {'completed': True,
  'id': 162,
  'title': 'omnis laboriosam molestias animi sunt dolore',
  'userId': 9},
 {'completed': False,
  'id': 163,
  'title': 'natus corrupti maxime laudantium et voluptatem laboriosam odit',
  'userId': 9},
 {'completed': False,
  'id': 164,
  'title': 'reprehenderit quos aut aut consequatur est sed',
  'userId': 9},
 {'completed': False,
  'id': 165,
  'title': 'fugiat perferendis sed aut quidem',
  'userId': 9},
 {'completed': False,
  'id': 166,
  'title': 'quos quo possimus suscipit minima ut',
  'userId': 9},
 {'completed': False,
  'id': 167,
  'title': 'et quis minus quo a asperiores molestiae',
  'userId': 9},
 {'completed': False,
  'id': 168,
  'title': 'recusandae quia qui sunt libero',
  'userId': 9},
 {'completed': True,
  'id': 169,
  'title': 'ea odio perferendis officiis',
  'userId': 9},
 {'completed': False,
  'id': 170,
  'title': 'quisquam aliquam quia doloribus aut',
  'userId': 9},
 {'completed': True,
  'id': 171,
  'title': 'fugiat aut voluptatibus corrupti deleniti velit iste odio',
  'userId': 9},
 {'completed': False,
  'id': 172,
  'title': 'et provident amet rerum consectetur et voluptatum',
  'userId': 9},
 {'completed': False,
  'id': 173,
  'title': 'harum ad aperiam quis',
  'userId': 9},
 {'completed': False, 'id': 174, 'title': 'similique aut quo', 'userId': 9},
 {'completed': True,
  'id': 175,
  'title': 'laudantium eius officia perferendis provident perspiciatis asperiores',
  'userId': 9},
 {'completed': False,
  'id': 176,
  'title': 'magni soluta corrupti ut maiores rem quidem',
  'userId': 9},
 {'completed': False,
  'id': 177,
  'title': 'et placeat temporibus voluptas est tempora quos quibusdam',
  'userId': 9},
 {'completed': True,
  'id': 178,
  'title': 'nesciunt itaque commodi tempore',
  'userId': 9},
 {'completed': True,
  'id': 179,
  'title': 'omnis consequuntur cupiditate impedit itaque ipsam quo',
  'userId': 9},
 {'completed': True,
  'id': 180,
  'title': 'debitis nisi et dolorem repellat et',
  'userId': 9},
 {'completed': False,
  'id': 181,
  'title': 'ut cupiditate sequi aliquam fuga maiores',
  'userId': 10},
 {'completed': True,
  'id': 182,
  'title': 'inventore saepe cumque et aut illum enim',
  'userId': 10},
 {'completed': True,
  'id': 183,
  'title': 'omnis nulla eum aliquam distinctio',
  'userId': 10},
 {'completed': False,
  'id': 184,
  'title': 'molestias modi perferendis perspiciatis',
  'userId': 10},
 {'completed': False,
  'id': 185,
  'title': 'voluptates dignissimos sed doloribus animi quaerat aut',
  'userId': 10},
 {'completed': False,
  'id': 186,
  'title': 'explicabo odio est et',
  'userId': 10},
 {'completed': False,
  'id': 187,
  'title': 'consequuntur animi possimus',
  'userId': 10},
 {'completed': True, 'id': 188, 'title': 'vel non beatae est', 'userId': 10},
 {'completed': True,
  'id': 189,
  'title': 'culpa eius et voluptatem et',
  'userId': 10},

In [ ]:
# Para ver 1 dado:
url_da_api = 'https://jsonplaceholder.typicode.com/todos/1'

response_get = requests.get(url_da_api)
response_get.json()

{'completed': False, 'id': 1, 'title': 'delectus aut autem', 'userId': 1}

In [ ]:
# Para ver 1 dado da aba de posts:
url_da_api = 'https://jsonplaceholder.typicode.com/posts/2'

response_get = requests.get(url_da_api)
response_get.json()

{'body': 'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla',
 'id': 2,
 'title': 'qui est esse',
 'userId': 1}

Vamos gravar um novo post com nossos dados:

In [ ]:
texto_do_post = "Este é um texto simples de exemplo.\nAqui nós quebramos a linha para finalizar o post."
titulo_do_post = "PERSISTINDO LÁ!"
nome_do_usuario = "Kurtis Weissnat"

Primeiro precisamos saber qual o ID do usuário Kurtis Weissnat:

In [ ]:
url_da_api = 'https://jsonplaceholder.typicode.com/users/2'

response_get = requests.get(url_da_api)
response_get.json()

{'address': {'city': 'Wisokyburgh',
  'geo': {'lat': '-43.9509', 'lng': '-34.4618'},
  'street': 'Victor Plains',
  'suite': 'Suite 879',
  'zipcode': '90566-7771'},
 'company': {'bs': 'synergize scalable supply-chains',
  'catchPhrase': 'Proactive didactic contingency',
  'name': 'Deckow-Crist'},
 'email': 'Shanna@melissa.tv',
 'id': 2,
 'name': 'Ervin Howell',
 'phone': '010-692-6593 x09125',
 'username': 'Antonette',
 'website': 'anastasia.net'}

In [ ]:
# Para ver 1 dado da aba de posts:
url_da_api = 'https://jsonplaceholder.typicode.com/users?name=Kurtis Weissnat'

response_get = requests.get(url_da_api)
response_get.json()

[{'address': {'city': 'Howemouth',
   'geo': {'lat': '24.8918', 'lng': '21.8984'},
   'street': 'Rex Trail',
   'suite': 'Suite 280',
   'zipcode': '58804-1099'},
  'company': {'bs': 'generate enterprise e-tailers',
   'catchPhrase': 'Configurable multimedia task-force',
   'name': 'Johns Group'},
  'email': 'Telly.Hoeger@billy.biz',
  'id': 7,
  'name': 'Kurtis Weissnat',
  'phone': '210.067.6132',
  'username': 'Elwyn.Skiles',
  'website': 'elvis.io'}]

In [ ]:
id_do_usuario = response_get.json()[0]['id']

In [ ]:
# Criação da estrutura do json a ser enviado:
post = {"body":texto_do_post,"title":titulo_do_post,"userId":id_do_usuario}

Agora precisamos enviar os dados

In [ ]:
url_da_api = 'https://jsonplaceholder.typicode.com/posts'
response = requests.post(url_da_api, json=post)

In [ ]:
response.json()

{'body': 'Este é um texto simples de exemplo.\nAqui nós quebramos a linha para finalizar o post.',
 'id': 101,
 'title': 'PERSISTINDO LÁ!',
 'userId': 7}

Perceba que poderíamos ter enviado uma quantidade muito maior de dados em formato json e a API REST do servidor se encarregaria de armazenar os dados.

## Conclusão

Estes foram apenas algumas das formas de ler, manipular e salvar arquivos de dados tanto localmente quanto de servidores externos.

Muitas outras técnicas poderão ser aplicadas, conforme seu projeto solicitar.
 
Te desejo sucesso em sua jornada!

Prof. Guilherme Patriota.

### Bons estudos!